<div class="header-dashboard-submenu hidden-xs">
  <div class="wrapper">
    <ul class="desktop-only" id="dash">
      <li><a href="{{ path('lgp_user_dashboard') }}" class="dashboard-header-link current">Tableau de bord</a></li>
      
      {% if is_granted('ROLE_PROF') %}
        <li><a href="{{ path('lgp_user_prof_cours') }}" class="dashboard-header-link " title="Ce que j'enseigne">Mes cours</a></li>
        <li><a href="{{ path('lgp_user_prof_demandes_de_cours') }}" class="dashboard-header-link ">Mes demandes de cours</a></li>
      
      
        <li><a href="#" class="dashboard-header-link ">Mon compte</a>
            <ul id="account">
                <li><a href="{{ path('lgp_user_dashboard') }}">Mon profil</a></li>
                <li><a href="{{ path('lgp_user_prof_evaluation') }}">Mes évaluations</a></li>
                <li><a href="{{ path('lgp_user_prof_indisponibilite') }}">Mes indisponibilités</a></li>
                <li><a href="{{ path('lgp_user_prof_seance_de_cours') }}">Mes séances de cours</a></li>
            </ul>
        </li>
        {% endif %}
        <li><a href="{{ path('lgp_user_mes_reservations')}}" class="dashboard-header-link ">Mes réservations</a></li>
        <li><a href="{{ path('lgp_user_avis')}}" class="dashboard-header-link ">Mes avis</a></li>
    </ul>
  </div>
</div>