{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Mes cours - {{ parent() }}
{% endblock %}

{% block header_submenu %} 
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}
  <div class="bg-grey dashboard">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="title-block-dash">Gérer mes cours</h3>
            <ul class="menu-dash">
              <li><a href="{{ path('lgp_user_prof_cours') }}">Ma liste de cours</a></li>
              <li><a href="{{ path('lgp_user_prof_cours_add') }}">Ajouter un cours</a></li>
            </ul>
          </div>
          <div class="col-md-9">
            {% if enseignements|length <= 0 %}
              <div class="notifications-block">
                <div class="notifications-header">Mes cours</div>
                <div class="notifications-content">
                  Aucun cours trouvé !
                </div>
              </div>
            {% else %}
              <div class="notifications-block">
                <div class="notifications-header">Mes cours</div>
                <div class="notifications-content">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Cours</th>
                        <th>Classe</th>
                        <th>Prix / Heure</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for enseignement in enseignements %}
                        <tr>
                          <td>{{ enseignement.cours.intitule }}</td>
                          <td>{{ enseignement.classe }}</td>
                          <td>{{ enseignement.prix }} Fcfa</td>
                          <td><a href="{{ path('lgp_user_prof_cours_update', { 'id': enseignement.id }) }}"><i class="fa fa-edit"></i></a></td>
                          <td><a href="{{ path('lgp_user_prof_cours_delete', { 'id': enseignement.id }) }}"><i class="fa fa-remove delete_confirm"></i></a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}