{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  {# Icon #}
  <link rel="icon" type="image/png" href="{{ asset('ico.png') }}"/>
{% endblock stylesheets %}


{% block sonata_top_nav_menu %}
  {#{{ parent() }}#}
  <ul id="stats-user" class="nav navbar-left"></ul>
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        {% include sonata_admin.adminPool.getTemplate('add_block') %}
      </li>
      <li class="dropdown user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
         <li> <a href="{{ path('fos_user_security_logout') }}">Déconnexion <i class="fa fa-sign-out"></i></a></li>
        </ul>
      </li>
    </ul>
  </div>


  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>
  <script type="text/javascript">
    $(function () {
      var url = Routing.generate('lgp_user_homepage');
//      alert(url);

      $.ajax({
        type: 'GET',
        url: url,
        success: function (data) {
          $('#stats-user').html(data);
        },
        error: function () {
          console.log(" La requête n'a pas abouti !");
        }
      });
    });
  </script>
{% endblock %}

{% block side_bar_after_nav %}
  
{% endblock side_bar_after_nav %}