<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {% block title %} Le Grand Prof {% endblock %}</title>

    <meta name="description" content="Legrandprof est une plateforme de soutien scolaire. Nous donnons la possibilité à des profs d'apporter leur aide à des apprenants en fonction de leur emploi de temps en faisant des répétitions. Et aux parents/apprenants de trouver un répétiteur à leur convenance parmi de nombreux profils."/>
    <meta name="keywords" content="legrandprof, prof, soutien scolaire, mathématiques"/>
    <meta name="author" content="legrandprof">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    {% block stylesheets %}
        <!-- CSS Plugins -->
        {#<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" type="text/css"
              href="{{ asset('bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" media="screen">
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('css/component.css') }}" rel="stylesheet">
        <!-- CSS Font Icons -->
        <link rel="stylesheet" href="{{ asset('icons/ionicons/css/ionicons.css') }}">
        <link rel="stylesheet" href="{{ asset('icons/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css') }}">
        <link rel="stylesheet" href="{{ asset('icons/simple-line-icons/css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('icons/themify-icons/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('icons/rivolicons/style.css') }}">#}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300'
              rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic'
              rel='stylesheet' type='text/css'>

        <!-- CSS Custom -->
        {#<link href="{{ asset('css/style.css') }}" rel="stylesheet">#}


        {% stylesheets filter='cssrewrite, ?scssphp'
        'css/animate.css'
        'bootstrap/css/bootstrap.min.css'
        'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bootstrap-select-1.12.1/css/bootstrap-select.min.css'
        'css/main.css'
        'css/component.css'
        'icons/ionicons/css/ionicons.css'
        'icons/font-awesome-4.6.3/css/font-awesome.min.css'
        'icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css'
        'icons/simple-line-icons/css/simple-line-icons.css'
        'icons/themify-icons/themify-icons.css'
        'icons/rivolicons/style.css'
        'css/style.css'
        'jquery-ui-1.12.0/jquery-ui.min.css'
         output='app_css/legrandprof.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}

        {# icon #}
        <link rel="icon" type="image/png" href="{{ asset('ico.png') }}"/>

        <!-- jquery-ui css -->
        {#<link href="{{ asset('jquery-ui-1.12.0/jquery-ui.min.css') }}" rel="stylesheet"/>#}
    {% endblock %}
</head>
<body>
{{ include('LGPCoreBundle::dialog.html.twig') }}

<!-- start Container Wrapper -->
<div class="container-wrapper">
    {{ include('LGPCoreBundle::header.html.twig') }}

    {% block header_submenu %} {% endblock %}

    <div class="clear"></div>

    <div class="main-wrapper">
        {% block body %} {% endblock %}
    </div>

    {{ include('LGPCoreBundle::footer.html.twig') }}
</div> <!-- end Container Wrapper -->

<!-- start Back To Top -->
<div id="back-to-top">
    <a href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end Back To Top -->

<!-- JS -->
{% block javascripts %}
    {% javascripts filter='?jsqueeze'
    'js/jquery-1.11.3.min.js'
    'jquery-ui-1.12.0/jquery-ui.min.js'
    'js/jquery-migrate-1.2.1.min.js'
    'bootstrap/js/bootstrap.min.js'
    'bootstrap-datetimepicker/moment/moment-with-locales.min.js'
    'bootstrap-select-1.12.1/js/bootstrap-select.min.js'
    'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
    'js/jquery.waypoints.min.js'
    'js/jquery.easing.1.3.js'
    'js/SmoothScroll.min.js'
    'js/jquery.slicknav.min.js'
    'js/jquery.placeholder.min.js'
    'js/spin.min.js'
    'js/jquery.introLoader.min.js'
    'js/select2.full.js'
    'js/jquery.responsivegrid.js'
    'js/ion.rangeSlider.min.js'
    'js/readmore.min.js'
    'js/slick.min.js'
    'js/validator.min.js'
    'js/jquery.raty.js'
    'js/customs.js'
    'js/user.js'
    'js/addToCart.js'
    'js/search.js'
    'js/loadData.js'
    'bundles/fosjsrouting/js/router.js'
    'js/avis.js'
    'js/messages.js'
    output='app_js/legrandprof.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#<script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jquery-ui-1.12.0/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bootstrap-datetimepicker/moment/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('js/SmoothScroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.slicknav.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.placeholder.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/select2.full.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.responsivegrid.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/ion.rangeSlider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/validator.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.raty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/customs.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/user.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/addToCart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/loadData.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}

    <script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>

    {#{% if is_granted('ROLE_USER') %}
        {% javascripts filter='?jsqueeze'
        'js/avis.js'
        'js/messages.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        #}{#<script type="text/javascript" src="{{ asset('js/avis.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/messages.js') }}"></script>#}{#
    {% endif %}#}
{% endblock %}
</body>
</html>