{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Mes séances de cours - {{ parent() }}
{% endblock %}

{% block header_submenu %} 
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}
    
    
  <div class="bg-grey dashboard">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="title-block-dash">Gérer mes séances de cours</h3>
            <ul class="menu-dash">
              <li><a href="{{ path('lgp_user_prof_seance_de_cours') }}">Mes séances de cours</a></li>
              <li><a href="{{ path('lgp_user_prof_seance_de_cours_add') }}">Ajouter une séance de cours</a></li>
            </ul>
          </div>
          <div class="col-md-9">
            {% if seancesDeCours|length <= 0 %}
              <div class="notifications-block">
                <div class="notifications-header">Mes séances de cours</div>
                <div class="notifications-content">
                  Aucune séance de cours enregistrée !
                </div>
              </div>
            {% else %}
              <div class="notifications-block">
                <div class="notifications-header">Mes séances de cours</div>
                <div class="notifications-content">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Jour</th>
                          <th>Date</th>
                          <th>Résumé</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Total</th>
                          <th>Total</th>
                          <th>Total</th>
                          <th>Total</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        {% for seance in seancesDeCours %}
                          <tr>
                          <td>{{ seance.jourDeCours.intitule }}</td>
                          <td>{{ seance.date|date('d/m/y') }}</td>
                          <td>{{ seance.resume }}</td>
                          <td>
                            <a href="{{ path('lgp_user_prof_seance_de_cours_delete', { 'id': seance.id }) }}" class="btn btn-danger btn-sm delete_confirm">
                              Supprimer
                            </a>
                            <a href="{{ path('lgp_user_prof_seance_de_cours_update', { 'id': seance.id }) }}" class="btn btn-info btn-sm">
                              Modifier
                            </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>

            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}