{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Avis parent - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Vos avis</h1>

  <p>
    <a href="{{ path('lgp_user_parent_avis_add') }}" class="btn btn-primary">Ajouter</a>
  </p>

  {% if avis|length <= 0 %}
    <h1 class="text-muted">Aucun avis trouvé !</h1>
  {% else %}
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Prof</th>
          <th>Note</th>
          <th>Commentaire</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>footer</td>
          <td>footer</td>
          <td>footer</td>
          <td>footer</td>
        </tr>
      </tfoot>
      <tbody>
        {% for avs in avis %}
          <tr>
            <td>{{ avs.prof.prenoms }} {{ avs.prof.nom }}</td>
            <td>{{ avs.note }}</td>
            <td>{{ avs.commentaire }}</td>
            <td>
              <a href='{{ path('lgp_user_parent_avis_delete',  {'id': avs.id }) }}' class="bt btn-danger btn-sm delete_confirm">
                Supprimer
              </a>
              <a href='{{ path('lgp_user_parent_avis_update',  {'id': avs.id }) }}' class="bt btn-info btn-sm">
                Modifier
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}