{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Avis prof - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Les avis des parents sur vous</h1>

  {% if avis|length <= 0 %}
    <h1 class="text-muted">Aucun avis trouvé !</h1>
  {% else %}
    <table class="table table-bordered table-hover table-striped avis-table">
      <thead>
        <tr>
          <th>Parent</th>
          <th>Note</th>
          <th>Commentaire</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for avs in avis|sort %}
          <tr>
            <td>
              <a href="{{ path('lgp_user_prof_avis_voir', {'id': avs.id}) }}">{{ avs.parent.prenoms }} {{ avs.parent.nom }}</a>
            </td>
            <td><a href="{{ path('lgp_user_prof_avis_voir', {'id': avs.id}) }}">{{ avs.note }}</a></td>
            <td>
              <a href="{{ path('lgp_user_prof_avis_voir', {'id': avs.id}) }}">{{ avs.commentaire }}</a>
            </td>
            <td>
              <a href='{{ path('lgp_user_prof_avis_delete',  {'id': avs.id }) }}' class="bt btn-danger btn-sm delete_confirm">
                Supprimer
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class='avis-details'></div>

  {% endif %}

{% endblock %}