{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Avis prof - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Les avis des parents sur vous</h1>
  
  {% if avis|length <= 0 %}
    <h1 class="text-muted">Aucun avis trouvé !</h1>
  {% else %}
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Parent</th>
          <th>Note</th>
          <th>Commentaire</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>footer</td>
          <td>footer</td>
          <td>footer</td>
          <td>footer</td>
        </tr>
      </tfoot>
      <tbody>
        {% for avs in avis %}
          <tr>
            <td>{{ avs.parent.prenoms }} {{ avs.parent.nom }}</td>
            <td>{{ avs.note }}</td>
            <td>{{ avs.commentaire }}</td>
            <td>
              <a href='{{ path('lgp_user_prof_avis_delete',  {'id': avs.id }) }}' class="bt btn-danger btn-sm delete_confirm">
                Supprimer
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}