{% extends 'LGPCoreBundle::layout.html.twig' %}

{% block title %}
  Devenir Prof - {{ parent() }}
{% endblock %}

{% block body %}
    
    
    <!-- start end Page title -->
    <div class="page-title" style="background-image:url('{{ asset('images/hero-header/breadcrumb.jpg') }}');">

            <div class="container">

                    <div class="row">

                            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

                                    <h1 class="hero-title">Devenir un grand Prof</h1><br>

                                    <a href="{{ path('lgp_prof_registration') }}" class="btn btn-primary">Déposer sa candidature</a>
                            </div>

                    </div>

            </div>

    </div>
    <!-- end Page title -->

    <div class="content-wrapper">

            <div class="container">

                    <div class="row">
                            <div class="col-md-12">
                                    <div style="background-size:cover; background-image:url({{ asset('images/become.jpg') }});width:65%; height:350px;float:left;"></div>
                                    <div style="width:35%; height:350px; background-color:#fcfddb;margin-left:65%; padding:20px;">
                                            <h3>Voulez vous nous rejoindre ?</h3>

                                            Vous avez d’ores et déjà validé une formation bac+3 ou vous êtes en école d'Ingenieur , vous souhaitez postuler ?
                                            Il vous suffit de déposer ici votre candidature en ligne ; un de nos experts recrutement vous contactera rapidement et vous fera passer un entretien.<br><br>
                                            <a href="{{ path('lgp_prof_registration') }}"><i class="pe-7s-plus"></i> Déposer sa candidature</a>
                                    </div>
                            </div>

                    </div>

            </div>

    </div>
    
{% endblock %}
