{% extends 'LGPCoreBundle::layout.html.twig' %}

{% block title %}
  {{ prof.user.prenoms }} {{ prof.user.nom }} - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item">Photo: <img src="{{ asset('uploads/images/' ~ prof.user.photo) }}" alt="" /> </li>
      <li class="list-group-item">Nom: {{ prof.user.nom }}</li>
      <li class="list-group-item">Prénoms: {{ prof.user.prenoms }}</li>
      <li class="list-group-item">Date  de naissance: {{ prof.user.dateNaissance|date('d/m/y') }}</li>
      <li class="list-group-item">Sexe: {{ prof.user.sexe }}</li>
      <li class="list-group-item">Téléphone: {{ prof.user.numTelephone }}</li>
      <li class="list-group-item">Pays: {{ prof.user.pays }}</li>
      <li class="list-group-item">Ville: {{ prof.ville }}</li>
      <li class="list-group-item">Quartier: {{ prof.quartier }}</li>
    </ul>

    <h3>Experience professionnelle</h3>
    {% for experience in experiencePros %}
      <p>
        {{ experience.etablissement }} -
        {{ experience.poste }} -
        {{ experience.dateDebut|date('d/m/y') }} -
        {{ experience.dateFin|date('d/m/y') }}
      </p>
    {% endfor %}

    <h3>Vos diplomes</h3>
    {% for diplome in diplomes %}
      <p>
        {{ diplome.intitule }} -
        {{ diplome.specialite }} -
        {{ diplome.annee }}
      </p>
    {% endfor %}
  </div>
{% endblock %}
