{% extends 'LGPCoreBundle::layout.html.twig' %}

{% block title %}
  {{ parent.user.prenoms }} {{ parent.user.nom }} - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item">Photo: <img src="{{ asset('uploads/images/' ~ parent.user.photo) }}" alt="" /> </li>
      <li class="list-group-item">Nom: {{ parent.user.nom }}</li>
      <li class="list-group-item">Prénoms: {{ parent.user.prenoms }}</li>
      <li class="list-group-item">Date  de naissance: {{ parent.user.dateNaissance|date('d/m/y') }}</li>
      <li class="list-group-item">Sexe: {{ parent.user.sexe }}</li>
      <li class="list-group-item">Téléphone: {{ parent.user.numTelephone }}</li>
      <li class="list-group-item">Pays: {{ parent.user.pays }}</li>
    </ul>
  </div>
{% endblock %}
