{{ form_start(form) }}

{{ form_errors(form) }}

<div class="form-group">
    <div class='row'>
        <div class='col-md-3'>{{ form_label(form.intitule, "Intitulé de la catégorie", {'label_attr': {'class': 'control-label'}}) }}</div>
        <div class='col-md-4'>
            {{ form_widget(form.intitule, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.intitule) }}
        </div>
    </div>
</div>

<div class="form-group">
    <div class='row'>
        <div class='col-md-3'>{{ form_label(form.description, "Description", {'label_attr': {'class': 'control-label'}}) }}</div>
        <div class='col-md-4'>
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
</div>

{{ form_rest(form) }}

<input type="submit" class="btn btn-primary" value='Soumettre'/>

{{ form_end(form) }}