
{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
    categories - {{ parent() }}
{% endblock %}

{% block body %}

    <!-- start end Page title -->
    <div class="page-title" style="background-image:url('{{ asset('images/hero-header/breadcrumb.jpg') }}');">

        <div class="container">

            <div class="row">

                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

                    <h1 class="hero-title">Catégories</h1>

                    <ol class="breadcrumb-list">
                        <li><a href="{{path('lgp_core_homepage')}}">Accueil</a></li>
                        <li><span>Catégories</span></li>
                    </ol>

                </div>

            </div>

        </div>

    </div>
    <!-- end Page title -->

    <section class="bg-light">
        <div class="content-wrapper">

            <div class="container">

                <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">

                    <div class="GridLex-grid-noGutter-equalHeight">

                        {% for category in categories %}

                            <div class="GridLex-col-3_sm-6_xs-12 mb-30">
                                <div class="package-grid-item"> 
                                    <a href="{{ path('lgp_course_find_category', {'category': category.intitule}) }}">
                                        <div class="image">
                                            <img src="{{ asset(category.url) }}" alt="{{category.alt}}" />
                                            <div class="absolute-in-image">
                                                <div class="duration"><span>300 Grands profs</span></div>
                                            </div>
                                        </div>
                                        <div class="content clearfix">
                                            <h5>{{ category.intitule }}</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
                {% if categories | length == 0 %}
                    <div class="pager-wrappper clearfix" style="margin-top:40px">

                        <div class="pager-innner">

                            <div class="flex-row flex-align-middle">

                                <div class="flex-column flex-sm-12">
                                    Resultats de 1 à 4 de 175 
                                </div>  

                                <div class="flex-column flex-sm-12">
                                    <nav class="pager-right">
                                        <ul class="pagination">
                                            <li>
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><span>...</span></li>
                                            <li><a href="#">11</a></li>
                                            <li><a href="#">12</a></li>
                                            <li><a href="#">13</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}