
{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Categorie {{ category }} - {{ parent() }}
{% endblock %}

{% block body %}
    
			<!-- start end Page title -->
			<div class="page-title" style="background-image:url('{{ asset('images/hero-header/breadcrumb.jpg') }}');">
				
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
						
							<h1 class="hero-title">Catégorie {{ category }}</h1>
							
							<ol class="breadcrumb-list">
								<li><a href="index.html">Accueil</a></li>
								<li><a href="#">Categories</a></li>
								<li><span>{{ category }}</span></li>
							</ol>
							
						</div>
						
					</div>

				</div>
				
			</div>
			<!-- end Page title -->
			
			<div class="content-wrapper">
			
				<div class="container">
				
					<div class="row">
						
						<div class="col-sm-4 col-md-3">
							
							<aside class="sidebar with-filter">
				
								<div class="sidebar-inner">
								
									<div class="sidebar-module">
										<h6 class="sidebar-title" style="font-size:17px;margin-bottom:10px;">Chechez par catégorie</h6>
										<ul class="category">
											<li class="active"><a href="#">{{ category }}</a></li>
											<li><a href="#">Anglais</a></li>
											<li><a href="#">Science</a></li>
											<li><a href="#">Business</a></li>
											<li><a href="#">Musique</a></li>
											<li><a href="#">Langues</a></li>
											<li><a href="#">Informatique</a></li>
											<li><a href="#">Art</a></li>
											<li><a href="#">Cuisine</a></li>
											<li><a href="#">Danse</a></li>
										</ul>
									</div>

									
								</div>
								
							</aside>
							
							
						</div>
						
						<div class="col-sm-8 col-md-9">
							
							<div class="sorting-wrappper">
			
								<div class="sorting-header">
									<h3 class="sorting-title uppercase">Cours dans la catégorie {{ category }}</h3>
									<p class="sorting-lead">12 Cours</p>
								</div>
								

							</div>
							<div class="GridLex-gap-20-wrappper package-grid-item-wrapper on-page-result-page alt-smaller">
						
								<div class="GridLex-grid-noGutter-equalHeight">
								
									<div class="GridLex-col-4_sm-6_xs-12 mb-20">
										<div class="package-grid-item"> 
											<a href="#">
												<div class="image">
													<img src="{{ asset('images/categories/maths.jpg') }}" alt="Tour Package" />
													
												</div>
												<div class="content-category">
													<h6>Analyse</h6>
													<p>C'est la branche des mathématiques qui traite explicitement de la notion de limite, que ce soit la limite d'une suite ou la limite d'une fonction. Elle inclut également des notions comme la continuité, la dérivation et l'intégration.  </p>
												</div>
											</a>
										</div>
									</div>
									
									<div class="GridLex-col-4_sm-6_xs-12 mb-20">
										<div class="package-grid-item"> 
											<a href="#">
												<div class="image">
													<img src="{{ asset('images/categories/phy.jpg') }}" alt="Tour Package" />
													
												</div>
												<div class="content-category">
													<h6>Analyse</h6>
													<p>C'est la branche des mathématiques qui traite explicitement de la notion de limite, que ce soit la limite d'une suite ou la limite d'une fonction. Elle inclut également des notions comme la continuité, la dérivation et l'intégration.  </p>
												</div>
											</a>
										</div>
									</div>
									
									
									
								</div>
							
							</div>

							<div class="pager-wrappper clearfix">
			
								<div class="pager-innner">
								
									<div class="flex-row flex-align-middle">
											
										<div class="flex-column flex-sm-12">
											Resultats de 1 à 4 de 175 
										</div>
										
										<div class="flex-column flex-sm-12">
											<nav class="pager-right">
												<ul class="pagination">
													<li>
														<a href="#" aria-label="Previous">
															<span aria-hidden="true">&laquo;</span>
														</a>
													</li>
													<li class="active"><a href="#">1</a></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><span>...</span></li>
													<li><a href="#">11</a></li>
													<li><a href="#">12</a></li>
													<li><a href="#">13</a></li>
													<li>
														<a href="#" aria-label="Next">
															<span aria-hidden="true">&raquo;</span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									
									</div>
									
								</div>
								
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
    
{% endblock %}