<ul class="nav nav-pills">
  <li><a href="{{ path('admin_lgp_user_prof_list') }}"><span class="badge">{{ profs|length }}</span>Profs</a> </li>
  <li><a href="{{ path('admin_lgp_user_parents_list') }}"><span class="badge">{{ parents|length }}</span>Parents</a> </li>
  <li><a href="{{ path('admin_lgp_course_cours_list') }}"><span class="badge">{{ cours|length }}</span>Cours</a> </li>
</ul>