{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Nous contacter - {{ parent() }}
{% endblock %}

{% block body %}
  <!-- Page Content -->
  <div class="container">
    <br>
    {# Affichage des message contenu de la session #}
    {% for flash_message in app.session.flashBag.get('info') %}
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        {{ flash_message }}
      </div>
    {% endfor %}

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Contact
        </h1>
        <ol class="breadcrumb">
          <li><a href="index.html">Accueil</a>
          </li>
          <li class="active">Contact</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div class="col-md-8">
        <!-- Embedded Google Map -->
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.6835021381767!2d9.753032349940995!3d4.084708097015267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10610dda42eb031d%3A0xe9a572d4c412e316!2sCarrefour+Rhone+Poulenc!5e0!3m2!1sfr!2sfr!4v1479459424173"></iframe>
      </div>
      <!-- Contact Details Column -->
      <div class="col-md-4">
        <h3>Contact Details</h3>
        <p>
          Douala Maképé
        </p>
        <p><i class="fa fa-phone"></i>
          <abbr title="Phone">P</abbr>: (+237) 000 000 000</p>
        <p><i class="fa fa-envelope-o"></i>
          <abbr title="Email">E</abbr>: <a href="contact@legrandprof.com">contact@legrandprof.com</a>
        </p>
        <p><i class="fa fa-clock-o"></i>
          <abbr title="Hours">H</abbr>: Lundi - Samedi: 8h00 à 18h00</p>
        <ul class="list-unstyled list-inline list-social-icons">
          <li>
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-md-8">
        <h3>Nous envoyer un message</h3>
        {{ form_start(form) }}

        {{ form_errors(form) }}
          <div class="control-group form-group">
            <div class="controls">
              {{ form_label(form.nom, 'Nom et prénoms') }}
              {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
              <span class="text-danger">{{ form_errors(form.nom) }}</span>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ form_label(form.telephone, "Téléphone") }}
              {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
              <span class="text-danger">{{ form_errors(form.telephone) }}</span>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ form_label(form.email, "Adresse email") }}
              {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
              <span class="text-danger">{{ form_errors(form.email) }}</span>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              {{ form_label(form.message) }}
              {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 10, 'cols': 100, 'maxlength': 999, 'style': 'resize:none'}}) }}
              <span class="text-danger">{{ form_errors(form.message) }}</span>
            </div>
          </div>
          <!-- For success/fail messages -->
        <input type="submit" class="btn btn-primary" value="Envoyer le message">

          {{ form_rest(form) }}

          {{ form_end(form) }}

        <br><br>
      </div>
    </div>
    <!-- /.row -->
  </div>
{% endblock body %}