{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Mon Tableau de bord - {{ parent() }}
{% endblock %}

{% block header_submenu %}
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}

  <div class="bg-grey dashboard">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-block">
              {% if app.user.image is not null %}
                <img src="{{ asset(app.user.image.webPath) }}" class="img-responsive">
              {% else %}
                <img src="{{ asset('uploads/profils/default.png') }}" alt="Photo de profil" class="img-responsive"/>
              {% endif %}
            </div>
            <div class="infos-block">
              <h2>{{ app.user.prenoms }} {{ app.user.nom }}</h2>
              <center>
                <br><br>
                <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-sm">Modifier le mot
                  de passe</a>
              </center>
            </div>
          </div>

          <div class="col-md-9">

            <div class="notifications-block">
              <div class="notifications-header">Hello Parent !</div>
              <div class="notifications-content">
                <h1>Hello {{ app.user.prenoms }} {{ app.user.nom }} !</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}