{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
    Mon Tableau de bord - {{ parent() }}
{% endblock %}

{% block header_submenu %}
    {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}

    <div class="bg-grey dashboard">
    <div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-block">
                    {% if app.user.image is not null %}
                        <img src="{{ asset(app.user.image.webPath) }}" class="img-responsive">
                    {% else %}
                        <img src="{{ asset('uploads/profils/default.png') }}" alt="image utilisateur"
                             class="img-responsive"/>
                    {% endif %}
                </div>
                <div class="infos-block">
                    <h2>{{ app.user.prenoms }} {{ app.user.nom }}</h2>
                    <p>
                        <span class="on"><i class="fa fa-check"></i></span>&nbsp;&nbsp;Profil complet<br>
                        <span class="off"><i class="fa fa-remove"></i></span> &nbsp;&nbsp;Profil recommandé
                    </p>
                    <center><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-sm">Compléter le
                            profil</a><br><br>
                        <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-sm">Modifier le mot
                            de passe</a>
                    </center>

                </div>
            </div>

            <div class="col-md-9">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <b>{{ app.user.avanceeProfil }}% de remplissage du profil</b><br>
                    <p>
                        Veuillez compléter votre profil pour augmenter vos chances d'être sollicité par des
                        parents/apprenants.
                        <a href="{{ path('fos_user_profile_edit') }}"> Complétez votre profil</a>
                    </p>
                </div>
                <div class="notifications-block">
                    <div class="notifications-header">
                        Hello Prof !
                    </div>
                    <div class="notifications-content">
                        <h1>
                            Hello
                            {% if app.user.prenoms is not null %}
                                {{ app.user.prenoms }}
                            {% else %}
                                {{ app.user.nom }}
                            {% endif %} !
                        </h1>
                    </div>
                </div>
                <div class="notifications-block">
                    <div class="notifications-header">Recommandations</div>
                    <div class="notifications-content">Vous n'avez pas encore obtenu de recommandations.
                        Sollicitez vos amis
                        pour en obtenir dès à présent.
                    </div>
                </div>
                <div class="notifications-block">
                    <div class="notifications-header">Rémunérations LeGrandProf <span
                            class="badge">{{ app.user.remunerations|length }}</span></div>
                    <div class="notifications-content">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Montant (FCFA)</th>
                                <th>Mode de paiement</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for remuneration in app.user.remunerations %}
                                <tr>
                                    <td>{{ remuneration.dateRemuneration|date('d/m/Y') }}</td>
                                    <td>{{ remuneration.montant }}</td>
                                    <td>{{ remuneration.modePaiement }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="notifications-block">
                    <div class="notifications-header">Historique des paiements</div>
                    <div class="notifications-content">
                        {% if app.user.paiements|length == 0 %}
                            <h4 class="text-muted">Vous n'avez effectué aucun paiement</h4>
                        {% else %}
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Montant (FCFA)</th>
                                    <th>Mode de paiement</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in app.user.paiements %}
                                    <tr>
                                        <td>{{ p.date|date('d/m/Y') }}</td>
                                        <td>{{ p.facture.montant }}</td>
                                        <td>{{ p.mode }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="notifications-block">
                    <div class="notifications-header">Historique des cours réservés</div>
                    <div class="notifications-content">
                        {% if app.user.reservations|length == 0 %}
                            <h4 class="text-muted">Vous n'avez effectué aucune réservation</h4>
                        {% else %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Cours</th>
                                    <th>Classe</th>
                                    <th>Nombre d'apprenants</th>
                                    <th>Prof</th>
                                    <th>Début</th>
                                    <th>Lieu de cours</th>
                                    <th>Ville</th>
                                    <th>Quartier</th>
                                    <th>Fréquence de paiement</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reservation in app.user.reservations %}
                                    {% for res_ens in reservation.reservationEnseignements %}
                                        <tr>
                                            <td>{{ reservation.dateReservation|date('d/m/Y') }}</td>
                                            <td>{{ res_ens.enseignement.cours.intitule }}</td>
                                            <td>{{ res_ens.enseignement.classe }}</td>
                                            <td>{{ res_ens.nbApprenants }}</td>
                                            <td>{{ res_ens.enseignement.prof.nom }} {{ res_ens.enseignement.prof.prenoms }}</td>
                                            <td>{{ res_ens.dateDebut|date('d/m/Y') }}</td>
                                            <td>{{ res_ens.lieuDeCours }}</td>
                                            <td>{{ res_ens.ville }}</td>
                                            <td>{{ res_ens.quartier }}</td>
                                            <td>{{ reservation.frequencePaiement }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}