{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Mon Tableau de bord - {{ parent() }}
{% endblock %}

{% block header_submenu %}
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}

  <div class="bg-grey dashboard">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-block">
              {% if app.user.image is not null %}
                <img src="{{ asset(app.user.image.webPath) }}" class="img-responsive">
              {% endif %}
            </div>
            <div class="infos-block">
              <h2>{{ app.user.prenoms }} {{ app.user.nom }}</h2>
              <p>
                <span class="on"><i class="fa fa-check"></i></span>&nbsp;&nbsp;Profil complet<br>
                <span class="off"><i class="fa fa-remove"></i></span> &nbsp;&nbsp;Profil recommandé
              </p>
              <center><a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Compléter profil</a>

            </div>
          </div>

          <div class="col-md-9">

            <div class="notifications-block">
              <div class="notifications-header">
                Hello Prof !
              </div>
            </div>
            <div class="notifications-block">
              <div class="notifications-header">Recommandation</div>
              <div class="notifications-content">Vous n'avez pas encore obtenu de recommandations. Sollicitez vos amis
                pour en obtenir dès à présent.
              </div>
            </div>
            <div class="notifications-block">
              <div class="notifications-header">Votre profil</div>
              <div class="notifications-content">Votre profil est incomplet, veuillez <a
                    href="{{ path('fos_user_profile_edit') }}">Compléter votre profil</a></div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}