{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Les indisponibilités signalées - {{ parent() }}
{% endblock %}

{% block header_submenu %} 
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}
    
  <div class="bg-grey dashboard">
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="title-block-dash">Gérer mes indisponibilités</h3>
            <ul class="menu-dash">
              <li><a href="{{ path('lgp_user_prof_indisponibilite') }}">Mes indisponibilités</a></li>
              <li><a href="{{ path('lgp_user_prof_indisponibilite_add') }}">Signaler une indisponibilité</a></li>
            </ul>
          </div>
          <div class="col-md-9">
            {% if indisponibilites|length <= 0 %}
              <div class="notifications-block">
                <div class="notifications-header">Mes indisponibilités</div>
                <div class="notifications-content">
                  Aucune indisponibilité trouvée !
                </div>
              </div>
            {% else %}
              <div class="notifications-block">
                <div class="notifications-header">Mes indisponibilités</div>
                <div class="notifications-content">
                    
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th>Début</th>
                          <th>Fin</th>
                          <th>Motif</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for indispo in indisponibilites %}
                          <tr>
                            <td>{{ indispo.dateDebut|date('d/m/Y') }}</td>
                            <td>{{ indispo.dateFin|date('d/m/Y') }}</td>
                            <td>{{ indispo.motif }}</td>
                            <td>
                              <a href='{{ path('lgp_user_prof_indisponibilite_update',  {'id': indispo.id }) }}' class="">
                                  <i class='fa fa-edit'></i>
                              </a>
                            </td>
                            <td>
                              <a href='{{ path('lgp_user_prof_indisponibilite_delete',  {'id': indispo.id }) }}' class="delete_confirm">
                                  <i class='fa fa-remove'></i>
                              </a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>

                    </table>
                </div>
              </div>

            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}