{{ form_start(params.refine_form, {'attr': {'id':'form-search-refine'}}) }}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #f2f2f2">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#quartier">
                    Par quartier
                    {% if app.request.query.get('quarter') != "" %}
                        <input type="hidden" id="refine_search_default_quarter"
                               value="{{ app.request.query.get('quarter') }}">
                        <span style="color:rgba(0,0,0,0.3)"> : {{ app.request.query.get('quarter') }}</span>
                    {% endif %}
                </a>
            </h4>
        </div>
        <div id="quartier" class="panel-collapse collapse">
            <div class="panel-body" style="background-color: #f2f2f2">
                {{ form_widget(params.refine_form.quartier, {'attr': {'class': 'form-control selectpicker', 'autocomplete':'off', 'spellcheck':'off', 'data-live-search':'true'}}) }}
            </div>
        </div>
    </div>
   {# <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #f2f2f2">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#prix">
                    Par prix
                    {% if app.request.query.get('min_price') != "" and app.request.query.get('max_price') != "" %}
                        <input type="hidden" id="refine_search_default_min_price"
                               value="{{ app.request.query.get('min_price') }}">
                        <input type="hidden" id="refine_search_default_max_price"
                               value="{{ app.request.query.get('max_price') }}">
                        <span style="color:rgba(0,0,0,0.3)"> :
                            {{ app.request.query.get('min_price') }}
                            <b>--</b>
                            {{ app.request.query.get('max_price') }}
                        </span>
                    {% endif %}
                </a>
            </h4>
        </div>
        <div id="prix" class="panel-collapse collapse">
            <div class="panel-body" style="background-color: #f2f2f2">
                {{ form_widget(params.refine_form.min_price, {'attr': {'class': 'form-control', 'autocomplete':'off', 'spellcheck':'off'}}) }}
                {{ form_widget(params.refine_form.max_price, {'attr': {'class': 'form-control', 'autocomplete':'off', 'spellcheck':'off'}}) }}
            </div>
        </div>
    </div>#}
</div>

{{ form_rest(params.refine_form) }}

<div class="column-item for-btn">
    <div class="form-group">
        <input type="submit" name="" value="Affiner" class="btn btn-primary btn-block">
    </div>
</div>

{{ form_end(params.refine_form) }}