
{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
    Panier  - {{ parent() }}
{% endblock %}

{% block body %}
    {% set panier = params.panier %}
    {% set prixReservation = 0 %}
    <div class="bg-grey">
        <div class="content-wrapper">

            <div class="container">
                {% include 'LGPReservationBundle:Reservation:etapes.html.twig' %}
                <br><br>
                <h1 class="panier-title">
                    VOTRE PANIER 
                    {% if panier is not null and not panier.items is empty %}
                        : {{panier.items | length}} Profs 
                    {% endif %}
                </h1>
                <div class="row">
                    <div class="col-md-12">
                        {% for message in app.session.flashBag.get('warning') %}
                            <div class="alert alert-danger">
                                {{message}} 
                            </div>
                        {% endfor %}
                        {% for message in app.session.flashBag.get('info') %}
                            <div class="alert alert-success">
                                {{message}} 
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-12">
                        {% if panier is not null and panier.items | length != 0 %}
                            <table class="table table-hover table-striped">
                                <thead>
                                <th style="width:25%"></th>
                                <th style="width:40%; text-align:center;">Cours</th>
                                <th style="width:20%; text-align:center;">Sous-Total</th>
                                <th style="width:5%"></th>
                                </thead>
                                <tbody>
                                    {% if panier is defined and panier.items | length != 0 %}
                                        {% for key, booker in panier.items %}
                                            {% set cours = params.coursRep.find(booker.coursId) %}
                                            {% set prof = params.profRep.find(booker.profId) %}
                                            <tr>
                                                <td> 
                                                    {% if prof.image is defined %}
                                                        <img src="{{ asset(prof.image.webPath) }}" width="50px">
                                                    {% else %}
                                                        <img src="{{ asset('uploads/profils/default.jpg') }}"> 
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <p><b class="font800">Cours de <i style="color:#d84315">{{cours.intitule}}</i> en classe de <i style="color:#d84315">{{booker.classe}}</i> </b></p>
                                                    <ul class="list-info">
                                                        <li>
                                                            <span class="icon"><i class="fa fa-map-marker"></i></span>
                                                            <span class="font800">Lieu du cours: </span>{{booker.lieu}}
                                                            <span class="font800">Ville et quartier:</span>
                                                            {{booker.ville}} - {{booker.quartier}}
                                                        </li>

                                                        <li>
                                                            <span class="icon"><i class="fa fa-calendar"></i></span>
                                                            <span class="font800">Date de début : </span>
                                                            {{booker.dateDebut}} 
                                                            <span class="font800">nombre d'apprenants :</span>
                                                            {{booker.nombreApprenants}}
                                                        </li>
                                                        {#   <li><span class="icon"><i class="fa fa-book"></i></span> <span class="font600">Compétences :</span> Mathématiques, Physiques,...</li> #}
                                                    </ul><br>
                                                    <p><b>Prof : </b> {{prof.prenoms ~" "~prof.nom | upper}} </p>
                                                </td>
                                                <td>
                                                    {% set prixReservation = prixReservation + booker.prixTotal %}
                                                    <h2 class="price">{{booker.prixTotal}} FCFA </h2>
                                                </td>
                                                <td style="text-align:center">
                                                    <a title="supprimer du panier"  onclick="location.href = '{{ path('lgp_reservation_cart_remove',{'key': key}) }}'" class="btn-cancel"><i class="fa fa-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                                <h1><b>Total : <span class="total">{{prixReservation}} FCFA / Mois</span></b></h1>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                                <a class="btn btn-primary" 
                                       href=" {{path('lgp_reservation_paiement')}}">
                                   Passer a l'etape suivante
                                </a>
                            </div>
                        {% else %}
                            <h1>Votre panier est vide !!!</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
