{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
    Profil prof - {{ parent() }}
{% endblock %}

{% block body %}
    <!-- start end Page title -->
    {% if params.prof is not null %}
        {% set prof = params.prof %}
    {% endif %}
    <div class="page-title detail-page-title" style="background-image:url('{{ asset('images/detail/head.jpg') }}');">
        <div class="container">

            <div class="flex-row">

                <div class="flex-column flex-md-3 flex-sm-12">
                    {% if prof.image is not null %}
                        <img src="{{ asset(prof.image.webPath) }}" alt=" image prof "
                             class="profile-img"/>
                    {% else %}
                        {#<i class="fa fa-user fa-5x profile-img" style="color:#fff"></i>#}
                        <img src="{{ asset('uploads/profils/default.png') }}" alt="image prof"/>
                    {% endif %}
                </div>
                <div class="flex-column flex-md-6 flex-align-bottom flex-sm-12">
                    <div class="profile-infos">
                        <h1 class="hero-title"> {{ prof.prenoms | upper ~" "~ prof.nom | upper }} </h1>
                        <p class="line18"> {{ prof.profession }} </p>

                        <ul class="list-col clearfix">
                            <li class="rating-box">
                                <div class="rating-wrapper">
                                    <div class="raty-wrapper">
                                        {% set avisSum = 0 %}
                                        {% for avis in params.avis %}
                                            {% set avisSum = avisSum + avis.note %}
                                        {% endfor %}
                                        {% if params.avis | length != 0 %}
                                            {% set avisRange = avisSum / params.avis | length %}
                                        {% else %}
                                            {% set avisRange = 0 %}
                                        {% endif %}
                                        {% for i in range(1,5) %}
                                            {% if (avisRange | round) >= i %}
                                                <img alt=" {{ i }} " src="{{ asset('images/raty/star-on-sm.png') }}">
                                            {% else %}
                                                <img alt=" {{ i }} " src="{{ asset('images/raty/star-off-sm.png') }}"
                                                     title="">
                                            {% endif %}
                                        {% endfor %}
                                        <span style="display: block;"> / {{ params.avis | length }} avis</span>
                                    </div>
                                </div>
                            </li>

                            <li class="fav-box">
                                <div class="meta">
                                    <span class="block">Recommandé</span>
                                    {% if prof is not null %}
                                        {% if prof.isRecommande %}
                                            <span class="on" style="color:#81c784"><i class="fa fa-check"></i></span>
                                        {% else %}
                                            <span class="off" style="color:#e57373"><i class="fa fa-remove"></i></span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </li>
                            <li class="price-box">
                                <div class="meta">
                                    {% set minPrice %}
                                        {{ params.enseignementRep.getPrixProf(prof) }}
                                    {% endset %}
                                    <span class="block">{{ minPrice }} Fcfa / mois</span>
                                    Prix minimal
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="flex-column flex-md-3 flex-align-bottom flex-sm-12 mt-20-sm">
                    <div class="text-right text-left-sm">
                        <a href=" {{ path('lgp_reservation_detail',{'slug': prof.slug}) }} " class="anchor btn btn-primary">Réserver
                            un cours</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Page title -->

   {# <div class="breadcrumb-wrapper bg-light-2">
        <div class="container">
            <ol class="breadcrumb-list">
                <li><a href=" {{ path('lgp_core_homepage') }} ">Accueil</a></li>
                <li><a href=" {{ path('lgp_course_find') }} ">Profs</a></li>
                #}{#  <li><a href="#">Douala</a></li>
                 <li><a href="#">Informatique</a></li> #}{#
                <li><span> {{ prof.prenoms ~" "~ prof.nom | upper }} </span></li>
            </ol>
        </div>
    </div>#}
    <div class="content-wrapper">

        <div class="container">

            <div class="row">
                {% for message in app.session.flashbag.get('info') %}
                    <div id="confirmation-avis" class="col-md-12 col-sm-12 alert alert-success"
                         style="z-index: 1000; position: relative; display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.session.flashbag.get('warning') %}
                    <div id="confirmation-avis" class="col-md-12 col-sm-12 alert alert-danger"
                         style="z-index: 1000; position: relative; display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="col-md-8" role="main">

                    <div class="detail-content-wrapper">

                        <div id="section-0" class="detail-content">

                            <div class="section-title text-left">
                                <h4>Je donne cours de</h4>
                            </div>
                            <ul class="list-group">
                                {% for ens_cours in params.enseignementRep.getCoursByProf(prof) %}
                                    <li class="list-group-item">
                                        <b>
                                            <a href=" {{ path('lgp_course_find_prof_course',{'slug_course':ens_cours.cours.slug}) }} "
                                               title="">
                                                {{ ens_cours.cours.intitule }}
                                            </a>
                                        </b>
                                        <span>Dans les classes ci-dessous : </span>
                                        <ul>
                                            {% set classes = params.enseignementRep.getClasseByCoursAndProf(prof.id, ens_cours.cours.id) %}
                                            {% for enseignementClasse in classes %}
                                                <li>
                                                    <dl class="dl-horizontal">
                                                        <dt>{{ enseignementClasse.classe }}</dt>
                                                        <dd>
                                                            ------ &nbsp;&nbsp;&nbsp;&nbsp;
                                                            <b>{{ enseignementClasse.prix | number_format(2,',','.') }}</b>
                                                            FCFA / Mois
                                                        </dd>
                                                    </dl>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="section-1" class="detail-content">
                            <div class="section-title text-left">
                                <h4>Je donne cours dans les quartiers</h4>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {% for quartiersProf in prof.quartierCibles %}
                                        <dl class="dl-horizontal">
                                            <dt>{{ quartiersProf.intitule }}</dt>
                                            <dd>
                                                de la ville de &nbsp;&nbsp;&nbsp;&nbsp;
                                                <b>
                                                    <a href=" {{ path('lgp_course_search_city', {'slug_city':quartiersProf.slugVille}) }} "
                                                       title="Profs de {{ quartiersProf.ville }}">
                                                        {{ quartiersProf.ville }}
                                                    </a>
                                                </b>
                                            </dd>
                                        </dl>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>

                        <div id="section-2" class="detail-content">

                            <div class="section-title text-left">
                                <h4>A Propos de moi</h4>
                            </div>
                            <p>
                                {{ prof.presentation }}
                            </p>

                        </div>

                        <div id="section-3" class="detail-content">

                            <div class="section-title text-left">
                                <h4>Ma formation</h4>
                            </div>

                            <div class="detail-item">

                                <div class="row">


                                    <div class="col-sm-12 col-md-12">

                                        <div class="itinerary-wrapper">

                                            <div class="itinerary-item-wrapper">

                                                <div class="panel-group bootstarp-toggle">
                                                    {% if prof.diplomes is empty %}
                                                        NON DEFINIE
                                                    {% endif %}
                                                    {% set compt = 1 %}
                                                    {% for diplome in prof.diplomes %}
                                                        <div class="panel itinerary-item">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#"><span
                                                                                class="absolute-day-number"> {{ compt }} </span> {{ diplome.intitule }}
                                                                    </a>
                                                                    {% set compt = compt + 1 %}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>


                        <div id="section-4" class="detail-content">

                            <div class="section-title text-left">
                                <h4>Avis</h4>
                            </div>

                            <div class="review-wrapper">

                                <div class="review-content">

                                    <div class="row gap-20">

                                        <div class="col-sm-6">
                                            <h5>{{ params.avis | length }} avis</h5>
                                        </div>

                                        <div class="col-sm-6 text-right text-left-xs">
                                            <button id="btn-leave-avis"
                                                    class="anchor btn btn-primary btn-inverse btn-sm">
                                                <span id="leave-avis-text">Laisser un avis</span>
                                            </button>
                                        </div>

                                        <div class="col-md-12 col-sm-12 test" id="leave-avis" style="display:none">
                                            {% if app.user is null %}
                                                <div class="col-md-12" style="margin-top: 10px;">
                                                    <div class="alert alert-info">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <strong><i class="fa fa-info-circle fa-2x"></i></strong> &nbsp;&nbsp;&nbsp; Vous devez vous connecter pour que votre avis soit envoyé.
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="col-md-12">
                                                {% include 'LGPUserBundle:Avis:formulaire.html.twig' %}
                                            </div>

                                        </div>

                                    </div>

                                    {% if params.avis | length %}
                                        <ul class="review-list">
                                            {% for avis in params.avis %}
                                                {% set user = avis.user %}
                                                <li class="clearfix">
                                                    <div class="image img-circle">
                                                        {% if user.image is null %}
                                                            <img class="img-circle"
                                                                 src="{{ asset('uploads/profils/default.png') }}"
                                                                 alt="Tour Package"/>
                                                        {% else %}
                                                            <img class="img-circle"
                                                                 src="{{ asset(user.image.webPath) }}"
                                                                 alt=" image utilisateur "/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="content">
                                                        <div class="row gap-20 mb-0">
                                                            <div class="col-sm-9">
                                                                <h6> {{ (user.prenoms~"  "~user.nom) | upper }} {# <span>/ de Yaoundé-Bastos</span> #}</h6>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="review-date"> {{ avis.dateAvis | date('d/m/Y') }} </p>
                                                            </div>
                                                        </div>

                                                        <div class="rating-wrapper">
                                                            <div class="raty-wrapper">
                                                                {#  <div class="star-rating-12px" data-rating-score="4.0"></div> #}
                                                                {% set avisNote = avis.note %}
                                                                {% for i in range(1,5) %}
                                                                    {% if (avisNote | round) >= i %}
                                                                        <img alt=" {{ i }} "
                                                                             src="{{ asset('images/raty/star-on-sm.png') }}">
                                                                    {% else %}
                                                                        <img alt=" {{ i }} "
                                                                             src="{{ asset('images/raty/star-off-sm.png') }}"
                                                                             title="">
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                        <div class="review-text">

                                                            <p>
                                                                {{ avis.commentaire }}
                                                            </p>

                                                        </div>

                                                    </div>
                                                </li>

                                            {% endfor %}


                                        </ul>
                                        <div class="bt text-center pt-30">
                                            <a href="#" class="btn btn-primary">Lire plus d'avis</a>
                                        </div>
                                    {% endif %}

                                </div>

                            </div>

                        </div>
                        <div id="section-5" class="detail-content">

                            <div class="section-title text-left">
                                <h4>Profs similaires</h4>
                            </div>

                            <div class="GridLex-gap-20-wrappper package-grid-item-wrapper on-page-result-page alt-smaller">

                                <div class="GridLex-grid-noGutter-equalHeight">
                                    {% if params.similarProfs is not empty %}
                                        {% for enseignement in params.similarProfs %}
                                            <div class="GridLex-col-4_sm-4_xs-12 mb-20">
                                                <div class="package-grid-item">
                                                    <a href=" {{ path('lgp_course_profile_prof',{'slug':enseignement.prof.slug}) }} ">
                                                        <div class="image similar">
                                                            {% if enseignement.prof.image is not null %}
                                                                <img src="{{ asset(enseignement.prof.image.webPath
                                                                ) }}"
                                                                     alt=" image prof "/>
                                                            {% else %}
                                                                <img src="{{ asset('uploads/profils/default.png') }}"
                                                                     alt="Tour Package"/>
                                                            {% endif %}
                                                            {% if enseignement.prof.isRecommande %}
                                                                <div class="absolute-in-image">
                                                                    <div class="duration">
                                                                        <span>
                                                                            Recommandé
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="content clearfix">
                                                            <h6>
                                                                {{ enseignement.prof.prenoms | upper ~"  "~ enseignement.prof.nom | upper }}
                                                            </h6>
                                                            {% set avisSum = 0 %}
                                                            {% set allAvis = params.avisRep.findBy({'prof':enseignement.prof}) %}
                                                            {% for avis in  allAvis %}
                                                                {% set avisSum = avisSum + avis.note %}
                                                            {% endfor %}
                                                            {% if allAvis | length != 0 %}
                                                                {% set avisRange = avisSum / allAvis | length %}
                                                            {% else %}
                                                                {% set avisRange = 0 %}
                                                            {% endif %}
                                                            <div class="rating-wrapper">
                                                                <div class="raty-wrapper">
                                                                    <div>
                                                                        {% for i in range(1,5) %}
                                                                            {% if (avisRange | round) >= i %}
                                                                                <img alt=" {{ i }} "
                                                                                     src="{{ asset('images/raty/star-on-sm.png') }}">
                                                                            {% else %}
                                                                                <img alt=" {{ i }} "
                                                                                     src="{{ asset('images/raty/star-off-sm.png') }}"
                                                                                     title="">
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                    <br>
                                                                    <span> / {{ allAvis | length }} avis</span>
                                                                </div>
                                                            </div>
                                                            <div class="absolute-in-content">
                                                                {% set minPrice = params.enseignementRep.getPrixProf(enseignement.prof) %}
                                                                <span class="btn">
                                                                    <i class="fa fa-heart text-primary"></i></span>
                                                                <div class="price">{{ minPrice }} F/Mois <br> Prix
                                                                    minimal
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <b>- Aucun prof similaire</b>
                                    {% endif %}

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-4 hidden-sm hidden-xs" style="">

                    <div class="scrollspy-sidebar sidebar-detail" role="complementary">

                        <ul class="scrollspy-sidenav">

                            <li>
                                <ul class="nav">
                                    <li><a href="#section-0" class="anchor" style="">MES COURS</a></li>
                                    <li><a href="#section-1" class="anchor">MES QUARTIERS CIBLES</a></li>
                                    <li><a href="#section-2" class="anchor">A PROPOS DE MOI</a></li>
                                    <li><a href="#section-3" class="anchor">MA FORMATION</a></li>
                                    <li><a href="#section-4" class="anchor">Avis</a></li>
                                    <li><a href="#section-5" class="anchor">PROFS MILAIRES</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href=" {{ path('lgp_course_search_intitule', {'slug_course':params.enseignementRep.getMustTeachingCourse()[0].slug}) }} " class="btn btn-primary">
                            Faire une autre recherche
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
