{% if pagination.pages_count > 1 %}
    <div class="pager-wrappper clearfix">

        <div class="pager-innner">

            <div class="flex-row flex-align-middle">

                <div class="flex-column flex-sm-12">
                    Resultats de {{((pagination.page -1)*pagination.max_per_page)+1}} à {{pagination.page*pagination.max_per_page}} sur {{pagination.profs_count}} 
                </div>

                <div class="flex-column flex-sm-12">
                    <nav class="pager-right">
                        <ul class="pagination">
                            {% if pagination.page > 1 %}
                                <li>
                                    <a href="{{ path(pagination.route,  {'cours':cours,'page':  pagination.page-1}) }}" title="precedent">
                                        &laquo;
                                    </a>
                                </li>
                            {% endif %}

                            {% for p in range(max(pagination.page-2, 1), min(pagination.page+2, pagination.pages_count)) %}

                                <li {% if p == pagination.page %}class="active"{% endif %}> 
                                    <a href="{{path(pagination.route, {'cours':cours,'page':  p})}}">{{ p }}
                                    </a>
                                </li>

                            {% endfor %}
                            {% if pagination.page < pagination.pages_count %}
                                <li>
                                    <a href="{{ path(pagination.route,  {'cours':cours,'page':  pagination.page+1}) }}" title="suivant">&raquo;
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

            </div>

        </div>

    </div>
{% endif %}