{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Création de compte prof - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <h1>Creation de compte prof</h1>
    
    <form action="{{ path('lgp_prof_registration') }}" method="POST">
        {{ form_errors(form) }}

        <div class="form-group">
          {{ form_label(form.nom, "Nom", {'label_attr': {}}) }}
          {{ form_widget(form.nom, {'attr': {}}) }}
          {{ form_errors(form.nom) }}
        </div>

        <div class="form-group">
          {{ form_label(form.prenoms, "Prénoms", {'label_attr': {}}) }}
          {{ form_widget(form.prenoms, {'attr': {}}) }}
          {{ form_errors(form.prenoms) }}
        </div>

        <div class="form-group">
          {{ form_label(form.dateNaissance, "Date de naissance", {'label_attr': {}}) }}
          {{ form_widget(form.dateNaissance, {'attr': {}}) }}
          {{ form_errors(form.dateNaissance) }}
        </div>

        <div class="form-group">
          {{ form_label(form.sexe, "Sexe", {'label_attr': {}}) }}
          {{ form_widget(form.sexe, {'attr': {}}) }}
          {{ form_errors(form.sexe) }}
        </div>

        <div class="form-group">
          {{ form_label(form.numTelephone, "Numéro de téléphone", {'label_attr': {}}) }}
          {{ form_widget(form.numTelephone, {'attr': {}}) }}
          {{ form_errors(form.numTelephone) }}
        </div>

        <div class="form-group">
          {{ form_label(form.pays, "Pays de résidence", {'label_attr': {}}) }}
          {{ form_widget(form.pays, {'attr': {}}) }}
          {{ form_errors(form.pays) }}
        </div>

        <div class="form-group">
          {{ form_label(form.username, "Pseudo", {'label_attr': {}}) }}
          {{ form_widget(form.username, {'attr': {}}) }}
          {{ form_errors(form.username) }}
        </div>

        <div class="form-group">
          {{ form_label(form.email, "Adresse email", {'label_attr': {}}) }}
          {{ form_widget(form.email, {'attr': {}}) }}
          {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
          {{ form_widget(form.plainPassword, {'attr': {}}) }}
          {{ form_errors(form.plainPassword) }}
        </div>

        {{ form_rest(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>
        </div>
    </form>
{% endblock fos_user_content %}