{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Création de compte prof - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <!-- start hero-header with windows height -->
    <div class="hero" style="background-image:url('{{asset('images/hero-header/01.1.jpg') }}');">

        <div class="container">

                <div class="row">

                        <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
                                <div class="left">
                                        <h3 class="hero-title-register">Devenez un grand prof<br> </h3><h4 class="hero-subtitle-register">Et faites grandir vos élèves.</h4>
                                        <p class="lead-register">
                                        Tout le monde a quelque chose à partager ou à enseigner.
                                        Chez Legrandprof vous pouvez donner des cours particuliers dans des tonnes matières (langues, sports, musique, arts, loisirs, soutien scolaire).</p>
                                </div>

                        </div>
                        <div class="col-sm-3 col-md-offset-1 col-sm-offset-1 col-md-3">
                                
                            
                            <form action="{{ path('lgp_prof_registration') }}" method="POST">
                                {{ form_errors(form) }}

                                <div class="form-group">
                                  {{ form_widget(form.nom, {'attr': {'placeholder':'Nom','class':'form-control'}}) }}
                                  {{ form_errors(form.nom) }}
                                </div>

                                <div class="form-group">
                                  {{ form_widget(form.prenoms, {'attr': {'placeholder':'Prénoms','class':'form-control'}}) }}
                                  {{ form_errors(form.prenoms) }}
                                </div>

                                {#<div class="form-group">
                                  {{ form_label(form.dateNaissance, "Date de naissance", {'label_attr': {}}) }}
                                  {{ form_widget(form.dateNaissance, {'attr': {}}) }}
                                  {{ form_errors(form.dateNaissance) }}
                                </div>#}

                                <div class="form-group">
                                  {{ form_widget(form.sexe, {'attr': {'class':'form-control'}}) }}
                                  {{ form_errors(form.sexe) }}
                                </div>

                               {# <div class="form-group">
                                  {{ form_label(form.numTelephone, "Numéro de téléphone", {'label_attr': {}}) }}
                                  {{ form_widget(form.numTelephone, {'attr': {}}) }}
                                  {{ form_errors(form.numTelephone) }}
                                </div>#}

                                <div class="form-group">
                                 {{ form_widget(form.pays, {'attr': {'class':'form-control'}}) }}
                                  {{ form_errors(form.pays) }}
                                </div>

                                <div class="form-group">
                                  {{ form_widget(form.email, {'attr': {'placeholder':'Adresse email','class':'form-control'}}) }}
                                  {{ form_errors(form.email) }}
                                </div>

                                <div class="form-group">
                                  {{ form_widget(form.plainPassword.children['first'], {'attr': {'placeholder':'Mot de passe','class':'form-control'}}) }}
                                  {{ form_errors(form.plainPassword) }}
                                </div>
                                
                                <div class="form-group">
                                  {{ form_widget(form.plainPassword.children['second'], {'attr': {'placeholder':'Confirmation Mot de passe','class':'form-control'}}) }}
                                  {{ form_errors(form.plainPassword) }}
                                </div>

                                {{ form_rest(form) }}
                                <div>
                                    <input type="submit" value="{{ 'Enregistrez'|trans }}" class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>

                </div>

        </div>

    </div>
    <!-- end hero-header with windows height -->

    <div class="post-hero bg-light" style="margin-top:60px;margin-bottom:60px;">

        <div class="container">

                <div class="row">

                        <div class="col-sm-4">
                                <div class="featured-count clearfix">
                                        <div class="icon"><i class="pe-7s-world"></i></div>
                                        <div class="content">
                                                <h6>Enseignez à un plus grand nombre</h6>
                                                <span>Selon votre expérience et votre disponibilité, partagez vos connaissances avec un grand nombre !</span>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-4">
                                <div class="featured-count clearfix">
                                        <div class="icon"> <i class="pe-7s-map-marker"></i></div>
                                        <div class="content">
                                                <h6>Près de chez vous</h6>
                                                <span>Vous ne recevrez que des demandes de personnes près de chez vous.</span>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-4">
                                <div class="featured-count clearfix">
                                        <div class="icon"> <i class="pe-7s-cash"></i></div>
                                        <div class="content">
                                                <h6>En fixant votre prix</h6>
                                                <span> Fixez vos prix pour chaque matière et pack de matières !</span>
                                        </div>
                                </div>
                        </div>

                </div>

        </div>

    </div>
    
    
    

    
{% endblock fos_user_content %}