{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Messages reçus - {{ parent() }}
{% endblock %}

{% block header_submenu %}
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}
    
    <div class="dashboard">
        <div class="content-wrapper">
            <div class="container">
                {% if messages|length <= 0 %}
                    <h5 class="text-muted">Aucun message reçu !</h5>
                {% else %}
                <div class="row">
                    <div class="col-md-4 no-padding">
                        <div class="actions">
                            <ul>
                                <li><a href="{{ path('lgp_user_message_new') }}">Nouveau</a></li>
                                <li><a href="{{ path('lgp_user_message_receive') }}">Recus</a></li>
                                <li><a href="{{ path('lgp_user_message_send') }}">Envoyes</a></li>
                            </ul>
                        </div>
                        <div class="messages-users">
                            <ul class="review-list">
                                
                                {% for message in messages %}
                                <li class="clearfix">
                                    <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}" style="display: block" class="message_read">
                                        <div class="image img-circle">
                                            {% if message.expediteur.image is null %}
                                                <img class="img-circle"
                                                     src="{{ asset('uploads/profils/default.jpg') }}"
                                                     alt="Tour Package"/>
                                            {% else %}
                                            <img class="img-circle" src="{{ asset(message.expediteur.image.webPath) }}" alt="Man" />
                                            {% endif %}
                                        </div>
                                        <div class="content">
                                            <div class="row gap-20 mb-0 over-y">
                                                <p><b>{{ message.expediteur.prenoms }} {{ message.expediteur.nom }}  </b>: {{ message.contenu }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>	
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="message messages-details">
                            
                        </div>
                    </div>
                </div>

                   
                {% endif %}                                         
            </div>
        </div>
    </div>
  <h1>Les messages reçus</h1>
  
  <a href="{{ path('lgp_user_message_new') }}" class="btn btn-primary">Nouveau</a>
  <a href="{{ path('lgp_user_message_receive') }}" class="btn btn-primary">
    Reçus<span class="badge">{{ render (controller('LGPUserBundle:Message:receive', {'is_read': 'false'})) }}</span>
  </a>
  <a href="{{ path('lgp_user_message_send') }}" class="btn btn-primary">Envoyés</a>
  
  {% if messages|length <= 0 %}
    <h5 class="text-muted">Aucun message reçu !</h5>
  {% else %}
    <table class="table table-bordered table-hover table-striped messages-table">
      <thead>
        <tr>
          <th>De</th>
          <th>Objet</th>
          <th>Contenu</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
          <tr>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}">{{ message.expediteur.prenoms }} {{ message.expediteur.nom }} </a>
            </td>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}">{{ message.objet }}</a>
            </td>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}"> {{ message.contenu }} </a>
            </td>
            <td>{{ message.dateEnvoi|date('d/m/Y') }}</td>
            <td>
              <a href='{{ path('lgp_user_message_delete',  {'id': message.id }) }}' class="bt btn-danger btn-sm delete_confirm">
                Supprimer
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
      
  {% endif %}
  
{% endblock %}