{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Messages reçus - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Les messages reçus</h1>
  
  <a href="{{ path('lgp_user_message_new') }}" class="btn btn-primary">Nouveau</a>
  <a href="{{ path('lgp_user_message_receive') }}" class="btn btn-primary">
    Reçus<span class="badge">{{ render (controller('LGPUserBundle:Message:receive', {'is_read': 'false'})) }}</span>
  </a>
  <a href="{{ path('lgp_user_message_send') }}" class="btn btn-primary">Envoyés</a>
  
  {% if messages|length <= 0 %}
    <h1 class="text-muted">Aucun message reçu !</h1>
  {% else %}
    <table class="table table-bordered table-hover table-striped messages-table">
      <thead>
        <tr>
          <th>Expéditeur</th>
          <th>Objet</th>
          <th>Contenu</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
          <tr>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}">{{ message.expediteur.prenoms }} {{ message.expediteur.nom }} </a>
            </td>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}">{{ message.objet }}</a>
            </td>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}"> {{ message.contenu }} </a>
            </td>
            <td>{{ message.dateEnvoi|date('d/m/Y') }}</td>
            <td>
              <a href='{{ path('lgp_user_message_delete',  {'id': message.id }) }}' class="bt btn-danger btn-sm delete_confirm">
                Supprimer
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
      
    <div class="messages-details"></div>
  {% endif %}
  
{% endblock %}