{% extends "LGPCoreBundle::layout.html.twig" %}

{% block title %}
  Messages envoyés - {{ parent() }}
{% endblock %}

{% block header_submenu %}
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block body %}
  <h1>Les messages envoyés</h1>
  
  <a href="{{ path('lgp_user_message_new') }}" class="btn btn-primary">Nouveau</a>
  <a href="{{ path('lgp_user_message_receive') }}" class="btn btn-primary">Réçus</a>
  <a href="{{ path('lgp_user_message_send') }}" class="btn btn-primary">Envoyés</a>
  
  {% if messages|length <= 0 %}
    <h5 class="text-muted">Aucun message trouvé !</h5>
  {% else %}
    <table class="table table-bordered table-hover table-striped messages-table">
      <thead>
        <tr>
          <th>Récepteur</th>
          <th>Objet</th>
          <th>Contenu</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
          <tr>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}">{{ message.recepteur.prenoms }} {{ message.recepteur.nom }} </a>
            </td>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}">{{ message.objet }}</a>
            </td>
            <td>
              <a href="{{ path('lgp_user_message_voir', {'id': message.id}) }}"> {{ message.contenu }} </a>
            </td>
            <td>{{ message.dateEnvoi|date('d/m/Y') }}</td>
            <td>
              <a href='{{ path('lgp_user_message_delete',  {'id': message.id }) }}' class="bt btn-danger btn-sm delete_confirm">
                Supprimer
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
      
    <div class="messages-details"></div>
  {% endif %}
  
{% endblock %}