{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
{{ form_errors(form) }}

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="title-block-dash">Mon Profil</h3>
        <ul class="menu-dash">
          <li><a href="#">modifier mon profil</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="notifications-block">
          <div class="notifications-header">Informations générales</div>
          <div class="notifications-content">
            <div class="row">
              <div class="col-md-2">{{ form_label(form.image, "Photo de profil", {'label_attr': {}}) }}</div>
              <div class="col-md-4">{{ form_widget(form.image) }}</div>
              {{ form_errors(form.image) }}
            </div><br>
            <div class="row">
              <div class="col-md-2">{{ form_label(form.nom, "Nom", {'label_attr': {}}) }}</div>
              <div class="col-md-4">{{ form_widget(form.nom, {'attr': {'class':'form-control'}}) }}</div>
              {{ form_errors(form.nom) }}
            </div><br>
            <div class="row">
              <div class="col-md-2">{{ form_label(form.prenoms, "Prénoms", {'label_attr': {}}) }}</div>
              <div class="col-md-4">{{ form_widget(form.prenoms, {'attr': {'class':'form-control'}}) }}</div>
              {{ form_errors(form.prenoms) }}
            </div><br>
            <div class="row">
              <div class="col-md-2">{{ form_label(form.dateNaissance, "Date de naissance", {'label_attr': {}}) }}</div>
              <div class="col-md-4">{{ form_widget(form.dateNaissance, {'attr': {}}) }}</div>
              {{ form_errors(form.dateNaissance) }}
            </div><br>
            <div class="row">
              <div class="col-md-2">{{ form_label(form.sexe, "Sexe", {'label_attr': {}}) }}</div>
              <div class="col-md-4">{{ form_widget(form.sexe, {'attr': {'class':'form-control'}}) }}</div>
              {{ form_errors(form.sexe) }}
            </div><br>
            <div class="row">
              <div class="col-md-2">{{ form_label(form.telephone, "Numéro de téléphone (+237)", {'label_attr': {}}) }}</div>
              <div class="col-md-4">{{ form_widget(form.telephone, {'attr': {'class':'form-control'}}) }}</div>
              {{ form_errors(form.telephone) }}
            </div><br>
            <div class="row">
              <div class="col-md-2">{{ form_label(form.pays, "Pays de résidence", {'label_attr': {}}) }}</div>
              <div class="col-md-4">{{ form_widget(form.pays, {'attr': {'class':'form-control'}}) }}</div>
              {{ form_errors(form.pays) }}
            </div><br>
            <div class="row">
              <div class="col-md-2">{{ form_label(form.email, "Adresse email", {'label_attr': {}}) }}</div>
              <div class="col-md-4">{{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}</div>
              {{ form_errors(form.email) }}
            </div><br>
          </div>
        </div>

        {% if is_granted('ROLE_PROF') %}

          <div class="notifications-block">
            <div class="notifications-header">Informations de présentation</div>
            <div class="notifications-content">
              <div class="row">
                <div class="col-md-2">{{ form_label(form.ville, "Ville", {'label_attr': {}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.ville, {'attr': {'class':'form-control'}}) }}</div>
                {{ form_errors(form.ville) }}
              </div><br>
              <div class="row">
                <div class="col-md-2">{{ form_label(form.boitePostale, "Boite postale", {'label_attr': {}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.boitePostale, {'attr': {'class':'form-control'}}) }}</div>
                {{ form_errors(form.boitePostale) }}
              </div><br>
              <div class="row">
                <div class="col-md-2">{{ form_label(form.situationMatrimoniale, "Situation matrimoniale", {'label_attr': {}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.situationMatrimoniale, {'attr': {'class':'form-control'}}) }}</div>
                {{ form_errors(form.situationMatrimoniale) }}
              </div><br>
              <div class="row">
                <div class="col-md-2">{{ form_label(form.niveauScolaire, "Niveau scolaire", {'label_attr': {}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.niveauScolaire, {'attr': {'class':'form-control'}}) }}</div>
                {{ form_errors(form.niveauScolaire) }}
              </div><br>
              <div class="row">
                <div class="col-md-2">{{ form_label(form.nombreEnfants, "Nombre d'enfants", {'label_attr': {}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.nombreEnfants, {'attr': {'class':'form-control'}}) }}</div>
                {{ form_errors(form.nombreEnfants) }}
              </div><br>
              <div class="row">
                <div class="col-md-2">{{ form_label(form.presentation, "Présentation", {'label_attr': {}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.presentation, {'attr': {'class':'form-control'}}) }}</div>
                {{ form_errors(form.presentation) }}
              </div><br>
              
              <div class="row">
                <div class="col-md-2">{{ form_label(form.quartierCibles, "Quartiers cibles pour les répétitions", {'label_attr': {}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.quartierCibles) }}</div>
                {{ form_errors(form.quartierCibles) }}
{#                <a href="#" class="btn btn-primary btn-sm" id="add_quartier">Ajouter un quartier</a>#}
              </div><br>
              <div class="row">
                <div class="col-md-2">{{ form_label(form.profession, "Profession", {'label_attr': {}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.profession, {'attr': {'class':'form-control'}}) }}</div>
                {{ form_errors(form.profession) }}
              </div><br>
            </div>
          </div>
          <div class="notifications-block">
            <div class="notifications-header">Experiences professionnelles</div>
            <div class="notifications-content">
              {{ form_row(form.experiencePros) }}
              <a href="#" class="btn btn-primary btn-sm" id="add_experience">Ajouter une expérience</a>
            </div>
          </div>
          <div class="notifications-block">
            <div class="notifications-header">Diplome</div>
            <div class="notifications-content">
              <div class="row">
                <div class="col-md-2">{{ form_label(form.diplomes, "Diplômes", {'label_attr': {'class': ''}}) }}</div>
                <div class="col-md-4">{{ form_widget(form.diplomes) }}</div>
                {{ form_errors(form.diplomes) }}
                <a href="#" class="btn btn-primary btn-sm" id="add_diplome">Ajouter un diplome</a>
              </div><br>
            </div>
          </div>
        {% endif %}
        <div class="notifications-block">
          <div class="notifications-header">Mot de passe</div>
          <div class="notifications-content">
            {{ form_rest(form) }}
          </div>
        </div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary pull-right"/>

      </div>
    </div>
  </div>
</div>

{{ form_end(form) }}


