{% trans_default_domain 'FOSUserBundle' %}

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-block">
          {% if app.user.image is not null %}
            <img src="{{ asset(app.user.image.webPath) }}" class="img-responsive">
          {% else %}
            <img src="{{ asset('uploads/profils/default.png') }}" alt="Photo de profil"/>
          {% endif %}
        </div>
        <div class="infos-block">
          <h2>{{ app.user.prenoms }} {{ app.user.nom }}</h2>
          {% if is_granted('ROLE_PROF') %}
            <p>
              <span class="on"><i class="fa fa-check"></i></span>&nbsp;&nbsp;Profil complet<br>
              <span class="off"><i class="fa fa-remove"></i></span> &nbsp;&nbsp;Profil recommandé
            </p>
          {% endif %}
          <center>
            <br>
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-sm">Compléter le profil</a>
            <br><br>
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-sm">Modifier le mot
              de passe</a>
          </center>

        </div>
      </div>

      <div class="col-md-9">
        {% if is_granted('ROLE_PROF') and app.user.avanceeProfil < 100 %}
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <b>{{ app.user.avanceeProfil }}% de remplissage du profil</b><br>
            <p>
              Veuillez compléter votre profil pour augmenter vos chances d'être sollicité par des parents/apprenants.
              <a href="{{ path('fos_user_profile_edit') }}"> Complétez votre profil</a>
            </p>
          </div>
        {% endif %}
        {#<div class="notifications-block">#}
        {#<div class="notifications-header">#}
        {#Hello#}
        {#{% if app.user.prenoms is not null %}#}
        {#{{ app.user.prenoms }}#}
        {#{% else %}#}
        {#{{ app.user.nom }}#}
        {#{% endif %} !#}
        {#</div>#}
        {#<div class="notifications-content">#}
        {#<h1>#}
        {#Hello#}
        {#{% if app.user.prenoms is not null %}#}
        {#{{ app.user.prenoms }}#}
        {#{% else %}#}
        {#{{ app.user.nom }}#}
        {#{% endif %}#}
        {#</h1>#}
        {#</div>#}
        {#</div>#}
        <div class="notifications-block">

          <div class="notifications-header">
            Qui suis je ?
          </div>
          <div class="notifications-content">
            <p><b>Email</b>: {{ app.user.email }}</p>
            <p><b>Nom</b>: {{ app.user.nom }}</p>
            <p><b>Prenoms</b>: {{ app.user.prenoms }}</p>
            <p><b>Date de naissance</b>: {{ app.user.dateNaissance | date('d/m/Y') }}</p>
            <p>
              <b>Sexe</b>:
              {% if app.user.sexe=='m' %}
                Masculin
              {% else %}
                Féminin
              {% endif %}
            </p>
            <p><b>Telephone</b>: {{ app.user.telephone }}</p>
            <p><b>Pays</b>: {{ app.user.pays }}</p>

            {#Si profil prof#}
            {% if is_granted('ROLE_PROF') %}
              <p><b>Ville</b>: {{ app.user.ville }}</p>
              <p><b>boite Postale</b>: {{ app.user.boitePostale }}</p>
              <p><b>Situation matrimoniale</b>: {{ app.user.situationMatrimoniale }}</p>
              <p><b>Niveau scolaire</b>: {{ app.user.niveauScolaire }}</p>
              <p><b>Nombre d'enfants</b>: {{ app.user.nombreEnfants }}</p>
              <p><b>Presentation</b>: {{ app.user.presentation|truncate(255, true, '...') }}</p>
              <p><b>Profession</b>: {{ app.user.profession }}</p>
            {% endif %}
          </div>
        </div>

        {% if is_granted('ROLE_PROF') %}
          <div class="notifications-block">
            <div class="notifications-header">Quartiers dans lesquels je suis disposé à donner cours</div>
            <div class="notifications-content">
              <ul>
                {% for quartier in app.user.quartierCibles %}
                  <li>
                    {{ quartier.affichage }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="notifications-block">
            <div class="notifications-header">Expérience professionnelle</div>
            <div class="notifications-content">
              <table class="table table-stiped table-hover">
                <thead>
                <tr>
                  <th>Poste occupé</th>
                  <th>Etablissement</th>
                  <th>Du</th>
                  <th>Au</th>
                  {#<th>Description</th>#}
                </tr>
                </thead>
                <tbody>
                {% for experience in app.user.experiencePros %}
                  <tr>
                    <td>{{ experience.poste }}</td>
                    <td>{{ experience.etablissement }}</td>
                    <td>{{ experience.dateDebut | date('d/m/Y') }}</td>
                    <td>{{ experience.dateFin | date('d/m/Y') }}</td>
                    {#<td>{{ experience.description }}</td>#}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="notifications-block">
            <div class="notifications-header">Diplômes</div>
            <div class="notifications-content">
              <ul>
                {% for diplome in app.user.diplomes %}
                  <li>
                    {{ diplome.intitule }}
                    {% if diplome.fileName is not null %}
                      (<a href="{{ asset(diplome.webPath) }}" target="_blank">voir</a>)
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="notifications-block">
            <div class="notifications-header">CV</div>
            <div class="notifications-content">
              {% if app.user.CVFile is not null %}
                {% if app.user.CVFile.fileName is not null %}
                  (<a href="{{ asset(app.user.CVFile.webPath) }}" target="_blank">Voir le CV</a>)
                {% endif %}
              {% endif %}
              <br/>
            </div>
          </div>

          {#<div class="notifications-block">#}
          {#<div class="notifications-header">#}
          {#Emploi de temps de disponibilité#}
          {#</div>#}
          {#<div class="notifications-content">#}

          {#</div>#}
          {#</div>#}
        {% endif %}

        {#{{ dump(app.user) }}#}
      </div>
    </div>
  </div>
</div>
</div>