{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
  {{ app.user.prenoms }} {{ app.user.nom }} - {{ parent() }}
{% endblock %}

{% block header_submenu %}
  {{ include('LGPCoreBundle::header-submenu.html.twig') }}
{% endblock %}

{% block fos_user_content %}
  <div class="bg-grey dashboard">
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
  </div>

{% endblock fos_user_content %}

{% block javascripts %}
  {{ parent() }}

  <script>
    $(function () {

      /**
       * Chargement des quartiers en fonction de la ville
       */
      $('#quartier_ville').change(function () {
        var quartierVille = $('#quartier_ville').val();

        if (quartierVille == "") {
          return;
        }

        $('.ajax_loader').html('<i class="fa fa-spinner fa-pulse fa-lg"></i>');
        var ville = ($(this).val());
        var url = Routing.generate('lgp_user_prof_quartier_intitule') + '/' + ville;

        $.ajax({
          type: 'GET',
          url: url,
          success: function (data) {
            $('.ajax_loader').html('');
            $('#quartier_intitule').html('');

            for (i = 0; i < data.length; i++) {
              $('#quartier_intitule').append('<option value="' + data[i].intitule + '">' + data[i].intitule + '</option>')
//              console.log(data[i].intitule);
            }
          },
          error: function () {
            console.log("La requête n'a pas abouti !");
            $('.ajax_loader').html('');
          }
        });
      });



      /**
       * AJOUT ET SUPPRESSION DE QUARTIER
       */


//     clique sur le bouton d'ajout de quartier
      $('#add_quartier').click(function (e) {

        $elt = $('#block_form_quartier')

        showBlockForm($elt);

        e.preventDefault();
      });

      // Soumission du formualire quartier
      $('#form_quartier').submit(function (e) {

        e.preventDefault();

        var quartierVille = $('#quartier_ville').val();
        var quartierIntitule = $('#quartier_intitule').val();

        var $form = $(this);
        var $error = $('#error_quartier');
        var $loader = $('#save_quartier_loader');
        var $block_form = $('#block_form_quartier');

        $error.html('');

        if (quartierVille == "" || quartierIntitule == "") {
          $error.html('Merci de bien remplir le formulaire');
          return;
        }

        $error.html('');
        $loader.html('<i class="fa fa-spinner fa-pulse fa-lg"></i>');

        //POST ajax
        var DATA = 'quartier_ville=' + quartierVille + "&quartier_intitule=" + quartierIntitule;

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: DATA,
          cache: false,
          success: function (data) {
            showQuartiers(data);
//            console.log(data);
            showBlockForm($block_form);
            $loader.html('');
          },
          error: function (error) {
            console.log("Une erreur est survenue !");
            $loader.html('Une erreur est servenue, merci de reessayer !');
          }
        });
      });

      // Suppression de quartier
      deleteQuartier();




      /**
       * AJOUT ET SUPPRESSION D'EXPERIENCE
       */


      $('#add_experience').click(function (e) {

        e.preventDefault();

        var $elt = $('#block_form_experience');

        showBlockForm($elt);
      });


      // Soumission du formuoaire experience professionnelle

      $('#form_experience').submit(function (e) {

        e.preventDefault();

        var etablissement = $('#etablissement').val();
        var poste = $('#poste').val();
        var dateDebut = $('#dateDebut').val();
        var dateFin = $('#dateFin').val();

        var tmpDateDebut = $('#dateDebut').datepicker('getDate');
        var tmpDateFin = $('#dateFin').datepicker('getDate');

        var $form = $(this);
        var $error = $('#error_experience');
        var $loader = $('#save_experience_loader');
        var $block_form = $('#block_form_experience');

        $error.html('');

        if (etablissement == "" || poste == "" || dateDebut == null || dateFin == null) {
          $error.html('Merci de remplir tous les champs');
          return;
        }

        if ((tmpDateFin - tmpDateDebut) <= 0) {
          $error.html('La date fin doit être supérieure à la date de début');
          return;
        }

        $error.html('');
        $loader.html('<i class="fa fa-spinner fa-pulse fa-lg"></i>');

        //POST ajax
        var DATA = 'etablissement=' + etablissement + "&poste=" + poste + "&dateDebut=" + dateDebut + "&dateFin=" + dateFin;

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: DATA,
          cache: false,
          success: function (data) {
            showExperiences(data);
            initFormExperience();
            showBlockForm($block_form);
            $loader.html('');
          },
          error: function (error) {
            console.log("Une erreur est survenue !");
            $loader.html('Une erreur est survenue, merci de reessayer !');
          }
        });
      });

      // Suppression d'experience
      deleteExperience();



      /**
       * AJOUT ET SUPPRESSION DE DIPLOME
       */

      // Affichage du formulaire
      $('#add_diplome').click(function(e) {
        e.preventDefault();

        $elt = $('#block_form_diplome');

        showBlockForm($elt);
      });


      // Soumission du formulaire diplome
      $('#form_diplome').submit(function(e) {

        e.preventDefault();

        var intitule = $('#intituleDiplome').val();
        var fichier = $('#fichierDiplome').val();

        $form = $(this);
        $loader = $('#save_diplome_loader');
        $error = $('#error_diplome');
        $block_form = $('#block_form_diplome');

        $error.html('');

        if (intitule == "" || fichier == "") {
          $error.html('Merci de bien remplir le formulaire');
        }

        $error.html('');
        $loader.html('<i class="fa fa-spinner fa-pulse fa-lg"></i>');

        var data = new FormData($(this)[0]);
//        console.log(data);

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          success: function(rep) {
            showDiplomes(rep);
            showBlockForm($block_form);
            $loader.html('');
          },
          error: function() {
            console.log('Une erreur est survenue !')
            $loader.html('Une erreur est survenue, merci de reessayer !');
          }
        });
      });

      // Suppresion de diplome
      deleteDiplome();



      /**
       *
       * ENREGISTREMENT DE CV
       * ======================
       */

      // Mise a jour d'un CV
      updateCV();

      $('#add_cv').click(function (e) {
        e.preventDefault();
        showBlockForm($('#block_form_cv'));
      });

      $('#form_cv').submit(function(e) {
        e.preventDefault();

        $form = $(this);
        $loader = $('#save_cv_loader');
        $error = $('#error_cv');
        $block_form = $('#block_form_cv');

        $error.html('');
        $loader.html('<i class="fa fa-spinner fa-pulse fa-lg"></i>');

        var data = new FormData($(this)[0]);
//        console.log(data);

        $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: data,
          processData: false,
          contentType: false,
          cache: false,
          success: function(rep) {
            showBlockForm($block_form);
            showCV(rep);
            $loader.html('');
          },
          error: function() {
            console.log('Une erreur est survenue !')
            $loader.html('Une erreur est survenue, merci de reessayer !');
          }
        });
      });




      /**
       * AFFICHAGE DU BLOCK DE MODIFICATION DU TELEPHONE
       */
      $('#update_telephone').click(function(e) {
        e.preventDefault();
        showBlockForm($('#block_form_telephone'));
      });

      $('#update_telephone2').click(function(e) {
        e.preventDefault();
        showBlockForm($('#block_form_telephone2'));
      });

      /**
       * UTILITIES
       */


      // Fonction permettant de supprimer un quartier
      function deleteQuartier() {
        $('.delete_quartier').click(function (e) {
          var id = $(this).attr('id');
          var url = Routing.generate('lgp_user_prof_quartier_delete', {'id': id});

          $(this).html('<i class="fa fa-spinner fa-pulse fa-lg"></i>');
//          console.log(url);

          $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
              showQuartiers(data);
            },
            error: function () {
              console.log("Une erreur est survenue !");
            }
          });

          e.preventDefault();
        });
      }

      // Fonction permettant de supprimer une experience professionnelle
      function deleteExperience() {
        $('.delete_experience').click(function (e) {
          var id = $(this).attr('id');
          var url = Routing.generate('lgp_user_prof_experience_pro_delete', {'id': id});

          $(this).html('<i class="fa fa-spinner fa-pulse fa-lg"></i>');

          $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
              showExperiences(data);
            },
            error: function () {
              console.log("Une erreur est survenue !");
            }
          });

          e.preventDefault();
        });
      }

      // Fonction permettant de supprimer un diplome
      function deleteDiplome() {
        $('.delete_diplome').click(function (e) {
          $elt = $(this);

          var id = $elt.attr('id');
          var url = Routing.generate('lgp_user_prof_diplome_delete', {'id': id});

          $elt.html('<i class="fa fa-spinner fa-pulse fa-lg"></i>');

          $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
              showDiplomes(data);
            },
            error: function () {
              console.log("Une erreur est survenue !");
            }
          });

          e.preventDefault();
        });
      }

      // Fonction permettant d'afficher les quartiers recus
      function showQuartiers(data) {
        $('#quartiers').html('');

        for (i = 0; i < data.length; i++) {
          $('#quartiers').append(
              '<tr>' +
              '<td> ' + data[i].intitule + ' </td>' +
              '<td> ' + data[i].ville + ' </td>' +
              '<td><a href="#" id="' + data[i].id + '" class="delete_quartier delete_confirm"><i class="fa fa-remove fa-lg"></i></a></td>' +
              '</tr>'
          );
        }

        // Suppression de quartier
        deleteQuartier();
      }

      // Fonction permettant d'afficher les experiences professionnelle recus
      function showExperiences(data) {
        $('#experiences').html('');

        for (i = 0; i < data.length; i++) {
          $('#experiences').append(
              '<tr>' +
              '<td>' + data[i].poste + '</td>' +
              '<td>' + data[i].etablissement + '</td>' +
              '<td>' + (new Date(data[i].dateDebut.date)).toLocaleDateString('fr-FR') + '</td>' +
              '<td>' + (new Date(data[i].dateFin.date)).toLocaleDateString('fr-FR') + '</td>' +
              '<td><a href="#" id="' + data[i].id + '" class="text-danger delete_experience delete_confirm"><i class="fa fa-remove fa-lg"></i></td>' +
              '</tr>'
          );
        }

        // Suppression d'experience
        // pourque la suppression soit prise en compte sur les nouveaux elements
        deleteExperience();
      }

      // Fonction permettant d'afficher les quartiers recus
      function showDiplomes(data) {
        $elt = $('#diplomes');
        $elt.html('');

        for (i = 0; i < data.length; i++) {
          $elt.append(
              '<tr>' +
              '<td> ' + data[i].intitule + ' </td>' +
              '<td> (<a href="../../../web/'+ data[i].webPath +'" target="_blank">Voir</a>)</td>' +
              '<td><a href="#" id="' + data[i].id + '" class="text-danger delete_diplome delete_confirm"><i class="fa fa-remove fa-lg"></i></a></td>' +
              '</tr>'
          );
        }

        // Suppression de diplome
        deleteDiplome();
      }

      // Fonction permettant d'afficher le cv
      function showCV(data) {
        $elt = $('#cv');

        $elt.html('');
        $elt.append(
            '(<a href="../../../web/'+ data.webPath +'" target="_blank">Afficher</a>) ' +
            '<a href="#" id="update_cv" class="btn btn-primary btn-sm">Mettre à jour</a>'
        );

        // mise a jour de cv
        updateCV();
      }

      // Fonction permettant la mise a jour d'un CV
      function updateCV() {
        $('#update_cv').click(function (e) {
          e.preventDefault();
          showBlockForm($('#block_form_cv'));
        });
      }

      // Fonction permettant de reinitialiser les champs du formulaire experiencepro
      function initFormExperience() {
        $('#etablissement').val('');
        $('#poste').val('');
        $('.datepicker#dateDebut').val('');
        $('.datepicker#dateFin').val('');
      }

      // Fonction permettant d'afficher et de cacher le formulaire
      function showBlockForm($elt) {
        if ($elt.hasClass('hidden')) {
          $elt.removeClass('hidden');
          $elt.addClass('show');
        } else {
          $elt.removeClass('show');
          $elt.addClass('hidden');
        }
      }



    });
  </script>
{% endblock javascripts %}