{% trans_default_domain 'FOSUserBundle' %}

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-block">
          {% if app.user.image is not null %}
            <img src="{{ vich_uploader_asset(app.user.image, 'imageFile') }}" class="img-responsive">
          {% endif %}
        </div>
        <div class="infos-block">
          <h2>{{ app.user.prenoms }} {{ app.user.nom }}</h2>
          <p>
            <span class="on"><i class="fa fa-check"></i></span>&nbsp;&nbsp;Profil complet<br>
            <span class="off"><i class="fa fa-remove"></i></span> &nbsp;&nbsp;Profil recommandé
          </p>
          <center>
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Compléter profil</a>
            <br><br>
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-sm">Modifier le mot de passe</a>
          </center>

        </div>
      </div>
          
      <div class="col-md-9">
        
        <div class="notifications-block">
          <h1>
            Hello
            {% if app.user.prenoms is not null %}
              {{ app.user.prenoms }}
            {% else %}
              {{ app.user.nom }}
            {% endif %}
          </h1>
        </div>
        
        <div class="notifications-block">
          <p>Email: {{ app.user.email }}</p>
          <p>Nom: {{ app.user.nom }}</p>
          <p>Prenoms: {{ app.user.prenoms }}</p>
          <p>Date de naissance: {{ app.user.dateNaissance | date('d/m/y') }}</p>
          <p>
            Sexe: 
            {% if app.user.sexe=='m' %}
              Masculin
            {% else %}
              Féminin
            {% endif %}
          </p>
          <p>Telephone: {{ app.user.telephone }}</p>
          <p>Pays: {{ app.user.pays }}</p>
          
          {#Si profil prof#}
          {% if is_granted('ROLE_PROF') %}
            <p>Ville: {{ app.user.ville }}</p>
            <p>boite Postale: {{ app.user.boitePostale }}</p>
            <p>Situation matrimoniale: {{ app.user.situationMatrimoniale }}</p>
            <p>Niveau scolaire: {{ app.user.niveauScolaire }}</p>
            <p>Nombre d'enfants: {{ app.user.nombreEnfants }}</p>
            <p>Presentation: {{ app.user.presentation }}</p>
            <p>Profession: {{ app.user.profession }}</p>

            <h3>Quartiers cibles</h3>
            <ul>
              {% for quartier in app.user.quartierCibles %}
                <li>
                  {{ quartier.affichage }}
                </li>
              {% endfor %}
            </ul>
            
            <h3>Experience professionnelle</h3>
            <ul>
              {% for experience in app.user.experiencePros %}
                <li>
                  {{ experience.poste }}
                  à
                  {{ experience.etablissement }}
                  de
                  {{ experience.dateDebut | date('d/m/y') }}
                  à
                  {{ experience.dateFin | date('d/m/y') }}
                  {{ experience.description }}
                </li>
              {% endfor %}
            </ul>

            <h3>Diplomes</h3>
            <ul>
              {% for diplome in app.user.diplomes %}
                <li>
                  {{ diplome.intitule }} 
                  (<a href="{{ vich_uploader_asset(diplome, 'file') }}" target="blank">voir</a>)
                </li>
              {% endfor %}
            </ul>
            
            <h1>CV</h1>
            <a href="{{ vich_uploader_asset(app.user.CVFile, 'file') }}" target="blank">Voir le CV</a>
            <br />

            <a href='{{ path('lgp_user_prof_avis') }}' class="btn btn-primary" id='avis-link'>
              Avis
              <span class="badge">{{ render (controller('LGPUserBundle:Avis:prof', {'is_read': 'false'})) }}</span>
            </a>
            <a href='{{ path('lgp_user_prof_cours') }}' class="btn btn-primary">Mes cours</a>
            <a href='{{ path('lgp_user_prof_evaluation') }}' class="btn btn-primary">Mes Evaluations</a>
            <a href='{{ path('lgp_user_prof_indisponibilite') }}' class="btn btn-primary">Mes indisponibilités</a>
            <a href='{{ path('lgp_user_anomalies') }}' class="btn btn-primary">Anomalie du système</a>
            <a href='{{ path('lgp_user_prof_nouvelles_categories_cours') }}' class="btn btn-primary">
              Proposer une catégorie de cours
            </a>
              
          {% endif %}
          
          
          <a href='{{ path('lgp_user_message_receive') }}' class="btn btn-primary message-link">
            Messages 
            <span class="badge">{{ render (controller('LGPUserBundle:Message:receive', {'is_read': 'false'})) }}</span>
          </a>
          
          
          {#Si profil parent#}
          {% if is_granted('ROLE_PARENT') %}

            <a href='{{ path('lgp_user_parent_avis') }}' class="btn btn-primary">Avis</a>

          {% endif%}
          
{#          {{ dump(app.user)}}#}
        </div>

      </div>
    </div>
  </div>
</div>

        