{% trans_default_domain 'FOSUserBundle' %}

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-block">
          {% if app.user.image is not null %}
            <img src="{{ asset(app.user.image.webPath) }}" class="img-responsive">
          {% else %}
            <img src="{{ asset('uploads/profils/default.png') }}" alt="Photo de profil"/>
          {% endif %}
        </div>
        <div class="infos-block">
          <h2>{{ app.user.prenoms }} {{ app.user.nom }}</h2>
          {% if is_granted('ROLE_PROF') %}
            <p>
              <span class="on"><i class="fa fa-check"></i></span>&nbsp;&nbsp;Profil complet<br>
              <span class="off"><i class="fa fa-remove"></i></span> &nbsp;&nbsp;Profil recommandé
            </p>
          {% endif %}
          <center>
            <br>
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-sm">Compléter le profil</a>
            <br><br>
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary btn-sm">Modifier le mot
              de passe</a>
          </center>

        </div>
      </div>

      <div class="col-md-9">
        {% if is_granted('ROLE_PROF') and app.user.avanceeProfil < 100 %}
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <b>{{ app.user.avanceeProfil }}% de remplissage du profil</b><br>
            <p>
              Veuillez compléter votre profil pour augmenter vos chances d'être sollicité par des parents/apprenants.
              <a href="{{ path('fos_user_profile_edit') }}"> Complétez votre profil</a>
            </p>
          </div>
        {% endif %}
        {#<div class="notifications-block">#}
        {#<div class="notifications-header">#}
        {#Hello#}
        {#{% if app.user.prenoms is not null %}#}
        {#{{ app.user.prenoms }}#}
        {#{% else %}#}
        {#{{ app.user.nom }}#}
        {#{% endif %} !#}
        {#</div>#}
        {#<div class="notifications-content">#}
        {#<h1>#}
        {#Hello#}
        {#{% if app.user.prenoms is not null %}#}
        {#{{ app.user.prenoms }}#}
        {#{% else %}#}
        {#{{ app.user.nom }}#}
        {#{% endif %}#}
        {#</h1>#}
        {#</div>#}
        {#</div>#}
        <div class="notifications-block">

          <div class="notifications-header">
            Qui suis je ?
          </div>
          <div class="notifications-content">
            <p><b>Email</b>: {{ app.user.email }}</p>
            <p><b>Nom</b>: {{ app.user.nom }}</p>
            <p><b>Prenoms</b>: {{ app.user.prenoms }}</p>
            <p><b>Date de naissance</b>: {{ app.user.dateNaissance | date('d/m/Y') }}</p>
            <p>
              <b>Sexe</b>:
              {% if app.user.sexe=='m' %}
                Masculin
              {% else %}
                Féminin
              {% endif %}
            </p>
            <p><b>Pays</b>: {{ app.user.pays }}</p>

            {#Si profil prof#}
            {% if is_granted('ROLE_PROF') %}
              <p><b>Ville</b>: {{ app.user.ville }}</p>
              <p><b>boite Postale</b>: {{ app.user.boitePostale }}</p>
              <p><b>Situation matrimoniale</b>: {{ app.user.situationMatrimoniale }}</p>
              <p><b>Niveau scolaire</b>: {{ app.user.niveauScolaire }}</p>
              <p><b>Nombre d'enfants</b>: {{ app.user.nombreEnfants }}</p>
              <p><b>Presentation</b>: {{ app.user.presentation|truncate(255, true, '...') }}</p>
              <p><b>Profession</b>: {{ app.user.profession }}</p>
            {% endif %}
          </div>
        </div>

        <div class="notifications-block">
          <div class="notifications-header">Téléphone</div>
          <div class="notifications-content">
            <p>
              {% if app.user.telephone is not null %}
              <b>Téléphone</b>: {{ app.user.telephone }}
              {% else %}
            <form action="{{ path('lgp_user_telephone_add') }}" method="post" id="form_telephone">
              <div class="row">
                <div class="col-md-2">
                  <label id="control-label">Téléphone (+237)</label>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control input-sm" id="telephone" name="telephone" maxlength="9"
                         minlength="9" required/>
                </div>
                <div class="col-md-4">
                  <input type="submit" value="Enregistrer" class="btn btn-primary btn-sm">
                </div>
              </div>
            </form>
            {% endif %}
            </p>
          </div>
        </div>


        {% if is_granted('ROLE_PROF') %}
          <div class="notifications-block">
            <div class="notifications-header">
              Quartiers dans lesquels je suis disposé à donner cours
              <span class="pull-rigth"><a href="#" class="btn btn-primary btn-sm" id="add_quartier">Ajouter</a></span>
            </div>
            <div class="notifications-content">

              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>Quartier</th>
                  <th>Ville</th>
                  <th></th>
                </tr>
                </thead>
                <tbody id="quartiers">
                {% for quartier in app.user.quartierCibles %}
                  <tr>
                    <td>{{ quartier.intitule }}</td>
                    <td>{{ quartier.ville }}</td>
                    <td></td>
                    <td>
                      <a href="#" id="{{ quartier.id }}" class="text-danger delete_confirm delete_quartier">
                        <i class="fa fa-remove fa-lg"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

              <div id="block_form_quartier" class="hidden">
                <div class="row">
                  <div class="col-md-12">
                    <form action="{{ path('lgp_user_prof_quartier_add') }}" method="post" id="form_quartier">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="quartier_ville">Ville</label>
                          <select name="quartier_ville" id="quartier_ville" class="form-control input-sm">
                            <option value="">--</option>
                            <option value="Douala">Douala</option>
                            <option value="Yaounde">Yaoundé</option>
                            <option value="Bamenda">Bamenda</option>
                            <option value="Buea">Buéa</option>
                            <option value="Dschang">Dschang</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="quartier_intitule">Quartier</label>
                          <select name="quartier_intitule" id="quartier_intitule" class="form-control input-sm">
                            <option value="">--</option>
                          </select>
                          <span class="ajax_loader"></span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <br>
                        <input type="submit" class="btn btn-primary btn-sm" value="Enregistrer">
                        <span id="save_quartier_loader"></span>
                        <div id="error_quartier" class="text-danger"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="notifications-block">
            <div class="notifications-header">
              Expérience professionnelle
              <a href="#" class="btn btn-primary btn-sm" id="add_experience">Ajouter</a>
            </div>
            <div class="notifications-content">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>Poste occupé</th>
                  <th>Etablissement</th>
                  <th>Du</th>
                  <th>Au</th>
                  <th></th>
                </tr>
                </thead>
                <tbody id="experiences">
                {% for experience in app.user.experiencePros %}
                  <tr>
                    <td>{{ experience.poste }}</td>
                    <td>{{ experience.etablissement }}</td>
                    <td>{{ experience.dateDebut | date('d/m/Y') }}</td>
                    <td>{{ experience.dateFin | date('d/m/Y') }}</td>
                    <td>
                      <a href="#" id="{{ experience.id }}" class="text-danger delete_experience delete_confirm">
                        <i class="fa fa-remove fa-lg"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <div class="hidden" id="block_form_experience">
                <div class="row">
                  <div class="col-md-8">
                    <form id="form_experience" class="form-horizontal"
                          action="{{ path('lgp_user_prof_experience_pro_add') }}" method="post">
                      <div class="form-group">
                        <label for="etablisement" class="col-md-3">Etablissement</label>
                        <div class="col-md-8">
                          <input type="text" name="etablissement" id="etablissement" class="form-control input-sm"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="poste" class="col-md-3">Poste occupé</label>
                        <div class="col-md-8">
                          <input type="text" name="poste" id="poste" class="form-control input-sm"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="dateDebut" class="col-md-3">Date de début</label>
                        <div class="col-md-8">
                          <input type="text" name="dateDebut" id="dateDebut" class="form-control input-sm datepicker"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="dateFin" class="col-md-3">Date de fin</label>
                        <div class="col-md-8">
                          <input type="text" name="dateFin" id="dateFin" class="form-control input-sm datepicker"/>
                        </div>
                      </div>
                      <div class="col-md-8 col-md-offset-3">
                        <input type="submit" class="btn btn-primary btn-sm" value="Enregistrer">
                        <span id="save_experience_loader"></span>
                        <div id="error_experience" class="text-danger"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="notifications-block">
            <div class="notifications-header">
              Diplômes <a href="#" class="btn btn-primary btn-sm" id="add_diplome">Ajouter</a>
            </div>
            <div class="notifications-content">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>Intitulé</th>
                  <th>Fichier</th>
                  <th></th>
                </tr>
                </thead>
                <tbody id="diplomes">
                {% for diplome in app.user.diplomes %}
                  <tr>
                    <td>{{ diplome.intitule }}</td>
                    <td>
                      {% if diplome.fileName is not null %}
                        (<a href="{{ asset(diplome.webPath) }}" target="_blank">voir</a>)
                      {% endif %}
                    </td>
                    <td>
                      <a href="#" id="{{ diplome.id }}" class="text-danger delete_diplome delete_confirm">
                        <i class="fa fa-remove fa-lg"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <div id="block_form_diplome" class="row hidden">
                <form action="{{ path('lgp_user_prof_diplome_add') }}" method="post" id="form_diplome">
                  <div class="col-md-4">
                    <label class="control-label">Intitulé</label>
                    <select name="intituleDiplome" id="intituleDiplome" class="form-control input-sm" required>
                      <option value="Bacc">Bacc</option>
                      <option value="DUT">DUT</option>
                      <option value="BTS">BTS</option>
                      <option value="Licence">Licence</option>
                      <option value="Master">Master</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label class="control-lable">Fichier</label>
                    <input type="file" id="fichierDiplome" placeholder="Uploader votre diplome"
                           accept="application/pdf" required name="fichierDiplome">
                  </div>
                  <div class="col-md-4">
                    <input type="submit" value="Enregistrer" class="btn btn-primary btn-sm">
                    <span id="save_diplome_loader"></span>
                    <div id="error_diplome" class="text-danger"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="notifications-block">
            <div class="notifications-header">CV</div>
            <div class="notifications-content">
              <div id="cv">
                {% if app.user.CVFile is not null %}
                  {#{% if app.user.CVFile.fileName is not null %}#}

                  (<a href="{{ asset(app.user.CVFile.webPath) }}" target="_blank">Afficher</a>)
                  <a href="#" id="update_cv" class="btn btn-primary btn-sm">Mettre à jour</a>

                  {#{% endif %}#}

                {% else %}
                  <p><a href="#" id="add_cv" class="btn btn-primary btn-sm">Ajouter un CV</a></p>
                {% endif %}
              </div>
              <div id="block_form_cv" class="row hidden">
                <div class="col-md-12">
                  <form action="{{ path('lgp_user_prof_cv_add') }}" id="form_cv" method="post">
                    <div class="row">
                      <div class="col-md-8">
                        <label class="control-label col-md-2">Fichier</label>
                        <div class="col-md-8 col-md-offset-2">
                          <input type="file" accept="application/pdf" name="fichierCV" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <input type="submit" value="Enregistrer" class="btn btn-primary btn-sm">
                        <span id="save_cv_loader"></span>
                        <div id="error_cv" class="text-danger"></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          {#<div class="notifications-block">#}
          {#<div class="notifications-header">#}
          {#Emploi de temps de disponibilité#}
          {#</div>#}
          {#<div class="notifications-content">#}

          {#</div>#}
          {#</div>#}
        {% endif %}

        {#{{ dump(app.user) }}#}
      </div>
    </div>
  </div>
</div>
</div>